# 作业5 空间网络构建和查询

姓名：陈杰伟

学号：3200101205

**作业目的：**熟悉空间网络的基本概念和常见的空间网络分析和查询，掌握SQL3中的WITH RECURSIVE语句，熟悉从几何对象模型到空间网络模型的转换，掌握基于pgRouting的空间网络模型构建，熟悉pgRouting的最短路径算法，并会灵活运用解决一些空间网络的连通性查询问题，熟悉视图的可更新标准，掌握使用instead of触发器实现视图更新。

**注意事项：**
* SQL语句的错误输出为乱码时，修改SET client_encoding = 'GBK';或SET client_encoding = 'UTF-8';，重新连接数据库
* Jupyter Notebook对SQL语句的错误提示较弱，可以先在pgAdmin 4上执行，查看详细的错误信息
* 作业5总分60分，作业考察的题目后面标了具体分数，可以相互讨论思路，作业抄袭或雷同都要扣分
* **作业5\_学号\_姓名.ipynb**替换其中的学号和姓名，包含执行结果，和jsonData目录一起压缩为__作业5\_学号\_姓名.rar/zip__，**不要包含数据文件**，提交到学在浙大，作业5截止日期**2022.12.13**

### 0. With Recursive和pgRouting 3.4帮助文档

With Recursive是SQL3新增加的计算传递闭包语句，PostgreSQL实现了[With Recursive](http://www.postgresql.org/docs/current/static/queries-with.html)语句，请阅读并理解PostgreSQL帮助文档7.8.1 SELECT in WITH的Recursive Query Evaluation步骤。**With Recursive语句需要避免死循环，如果运行时间过长，可以先在pgAdmin 4测试运行时间，或使用limit限制结果数目。**

pgRouting扩展了PostgreSQL/PostGIS地理空间数据库，提供了地理导航和网络分析功能。从几何对象模型构建空间网络模型，需要使用pgr_createTopology，pgr_analyzeGraph，pgr_nodeNetwork，地理导航可以使用pgr_dijkstra等最短路径算法。作业使用pgRouting 3.3及以上版本，请在使用相关函数前，仔细阅读[pgRouting](https://docs.pgrouting.org/latest/en/index.html)的函数帮助文档。

### 1. 观看访谈视频和阅读相关材料，回答问题（3分）

观看From GPS and Google Maps to Spatial Computing课程的[Module 3](http://www.cad.zju.edu.cn/home/ybtao/sdb/resources/Module%203.rar) Spatial Networks</a>的3-10 Dr. Dev Oliver at ESRI和3-11 Dr. Betsy George at Oracle Spatial的访谈视频（或阅读字幕），回答以下问题。

1.1  Dr. Betsy George提到飓风来临时，撤退方案不能直接使用最短路径算法，原因是什么？（1分）

如果所有人都使用最短路径，那么大家都会通过最短路径逃离，那么最短路径会造成拥堵，在规划路径时应该考虑道路拥挤程度等因素

1.2 Dr. Dev Oliver和Dr. Betsy George都谈到了企业使用的空间网络和课本上的空间网络的差异，至少给出2条差异描述。（2分）

1.企业会在其更加需要的方面强化网络，而课本是全面的泛用的空间网络
2.企业用到的空间网络更复杂也更丰富

### 2. 美国航空网络构建与查询（12分）

通过pgAdmin 4在PostgreSQL数据库中创建hw5数据库，增加postgis和pgRouting扩展(create extension postgis, create extension pgrouting)，并连接该数据库。
<img src = "usairports.png" width = 800>

In [1]:
%load_ext sql

In [2]:
%%sql postgresql://postgres:329905023@localhost:5432/hw5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'UTF-8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

仔细阅读以下SQL语句，创建美国机场、机场关系和机场航班关系，理解航空网络的构建，并导入相应数据，完成以下查询。

In [3]:
%%sql

Drop Table if exists AIRPORT_LIST;
Drop Table if exists AIRPORT_NODE;
Drop Table if exists AIRPORT_LINK;

create table AIRPORT_LIST
(
    AIRPORT_ID   INT,
    AIRPORT_NAME VARCHAR(50)
);

create table AIRPORT_NODE
(
     NODE_ID      INT PRIMARY KEY,
     NODE_NAME    VARCHAR(200),
     NODE_TYPE    VARCHAR(200),
     ACTIVE       VARCHAR(1),
     PARTITION_ID INT,
     GEOMETRY     geometry(POINT, 4326)
);

create table AIRPORT_LINK
(
    LINK_ID         INT PRIMARY KEY,
    LINK_NAME       VARCHAR(200),
    START_NODE_ID   INT NOT NULL,
    END_NODE_ID     INT NOT NULL,
    LINK_TYPE       VARCHAR(200),
    ACTIVE          VARCHAR(1),
    LINK_LEVEL      INT,
    GEOMETRY        geometry(MultiLineString, 4326),
    COST            INT,
    BIDIRECTED      VARCHAR(1)                                    
);

copy airport_list from  '/home/jwimd/Study/Geospatial_Database/Homework/hw5/data/airport_list.txt' delimiter '#';
copy airport_node from  '/home/jwimd/Study/Geospatial_Database/Homework/hw5/data/airport_node.txt' delimiter '#';
copy airport_link from  '/home/jwimd/Study/Geospatial_Database/Homework/hw5/data/airport_link.txt' delimiter '#';

 * postgresql://postgres:***@localhost:5432/hw5
Done.
Done.
Done.
Done.
Done.
Done.
293 rows affected.
293 rows affected.
4093 rows affected.

[]

2.1 (练习题) 查询美国机场之间的单向航班数目，即存在从A到B的航班，但不存在从B到A的航班。

In [4]:
%%sql 
SELECT count(*) AS airlink_count
FROM airport_link AS link_a
WHERE NOT EXISTS(
    SELECT *
    FROM airport_link AS link_b
    WHERE link_b.start_node_id = link_a.end_node_id AND link_a.start_node_id = link_b.end_node_id
);

 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.

[(25,)]

2.2 查询“Durango, CO”机场最多一次转机能够达到的机场名称和AIRPORT_ID，使用With Recursive实现。（2分）

非With Recursive实现

In [5]:
%%sql 
select end_node_id, (select airport_name from airport_list where airport_id = end_node_id)
from airport_list, airport_link
where airport_name = 'Durango, CO' and airport_id = start_node_id
union
select L2.end_node_id, (select airport_name from airport_list where airport_id = L2.end_node_id)
from airport_list, airport_link L1, airport_link L2
where airport_name = 'Durango, CO' and airport_id = L1.start_node_id and L1.end_node_id = L2.start_node_id

 * postgresql://postgres:***@localhost:5432/hw5
186 rows affected.

[(12889, 'Las Vegas, NV'),
 (14689, 'Santa Barbara, CA'),
 (11109, 'Colorado Springs, CO'),
 (14193, 'Pensacola, FL'),
 (14783, 'Springfield, MO'),
 (10800, 'Burbank, CA'),
 (13303, 'Miami, FL'),
 (11057, 'Charlotte, NC'),
 (11503, 'Eagle, CO'),
 (11630, 'Fairbanks, AK'),
 (11423, 'Des Moines, IA'),
 (14570, 'Reno, NV'),
 (11867, 'Garden City, KS'),
 (13796, 'Oakland, CA'),
 (12478, 'New York, NY'),
 (13422, 'Mobile, AL'),
 (15412, 'Knoxville, TN'),
 (13290, 'Manhattan/Ft. Riley, KS'),
 (11150, 'Columbus, GA'),
 (10627, 'Bismarck/Mandan, ND'),
 (10721, 'Boston, MA'),
 (10666, 'Bellingham, WA'),
 (10980, 'Chattanooga, TN'),
 (13851, 'Oklahoma City, OK'),
 (12448, 'Jackson/Vicksburg, MS'),
 (14100, 'Philadelphia, PA'),
 (14893, 'Sacramento, CA'),
 (11778, 'Fort Smith, AR'),
 (10423, 'Austin, TX'),
 (11823, 'Fort Wayne, IN'),
 (14683, 'San Antonio, TX'),
 (11986, 'Grand Rapids, MI'),
 (14457, 'Rapid City, SD'),
 (10713, 'Boise, ID'),
 (13296, 'Manchester, NH'),
 (11865, 'Gillette, WY'),
 (11097, 'Cody, WY'),
 (11193, 'Cincinnati, OH'),
 (13029, 'Lincoln, NE'),
 (13433, 'Minot, ND'),
 (15411, 'Tyler, TX'),
 (10821, 'Baltimore, MD'),
 (11067, 'Champaign/Urbana, IL'),
 (14307, 'Providence, RI'),
 (14869, 'Salt Lake City, UT'),
 (10561, 'Bakersfield, CA'),
 (15376, 'Tucson, AZ'),
 (11540, 'El Paso, TX'),
 (14730, 'Louisville, KY'),
 (13204, 'Orlando, FL'),
 (13342, 'Milwaukee, WI'),
 (12951, 'Lafayette, LA'),
 (14057, 'Portland, OR'),
 (12992, 'Little Rock, AR'),
 (14960, 'Wichita Falls, TX'),
 (10693, 'Nashville, TN'),
 (13244, 'Memphis, TN'),
 (11066, 'Columbus, OH'),
 (12511, 'Joplin, MO'),
 (14814, 'Shreveport, LA'),
 (11637, 'Fargo, ND'),
 (11921, 'Grand Junction, CO'),
 (10781, 'Baton Rouge, LA'),
 (11618, 'Newark, NJ'),
 (11995, 'Greensboro/High Point, NC'),
 (14098, 'Newport News/Williamsburg, VA'),
 (10397, 'Atlanta, GA'),
 (11140, 'Corpus Christi, TX'),
 (12094, 'Hayden, CO'),
 (14027, 'West Palm Beach/Palm Beach, FL'),
 (13891, 'Ontario, CA'),
 (12451, 'Jacksonville, FL'),
 (15249, 'Tallahassee, FL'),
 (15380, 'Traverse City, MI'),
 (11278, 'Washington, DC'),
 (12982, 'Lihue, HI'),
 (13232, 'Chicago, IL'),
 (13930, 'Chicago, IL'),
 (14747, 'Seattle, WA'),
 (10185, 'Alexandria, LA'),
 (11982, 'Killeen, TX'),
 (14489, 'Bend/Redmond, OR'),
 (10140, 'Albuquerque, NM'),
 (12896, 'Lubbock, TX'),
 (12953, 'New York, NY'),
 (13487, 'Minneapolis, MN'),
 (13367, 'Moline, IL'),
 (10136, 'Abilene, TX'),
 (13476, 'Monterey, CA'),
 (13377, 'Monroe, LA'),
 (11413, 'Durango, CO'),
 (13061, 'Laredo, TX'),
 (12339, 'Indianapolis, IN'),
 (12280, 'Idaho Falls, ID'),
 (11697, 'Fort Lauderdale, FL'),
 (12156, 'Helena, MT'),
 (10994, 'Charleston, SC'),
 (13230, 'Harrisburg, PA'),
 (10685, 'Bloomington/Normal, IL'),
 (11695, 'Flagstaff, AZ'),
 (14674, 'Santa Fe, NM'),
 (10620, 'Billings, MT'),
 (12003, 'Great Falls, MT'),
 (13871, 'Omaha, NE'),
 (13198, 'Kansas City, MO'),
 (10599, 'Birmingham, AL'),
 (15401, 'Texarkana, AR'),
 (12758, 'Kona, HI'),
 (14492, 'Raleigh/Durham, NC'),
 (10643, 'Branson, MO'),
 (14831, 'San Jose, CA'),
 (14524, 'Richmond, VA'),
 (12915, 'Lake Charles, LA'),
 (12278, 'Wichita, KS'),
 (11612, 'Evansville, IN'),
 (11003, 'Cedar Rapids/Iowa City, IA'),
 (12012, 'Gunnison, CO'),
 (10792, 'Buffalo, NY'),
 (11049, 'College Station/Bryan, TX'),
 (14543, 'Rock Springs, WY'),
 (13264, 'Medford, OR'),
 (12266, 'Houston, TX'),
 (12954, 'Long Beach, CA'),
 (15304, 'Tampa, FL'),
 (14635, 'Fort Myers, FL'),
 (14122, 'Pittsburgh, PA'),
 (13158, 'Midland/Odessa, TX'),
 (13485, 'Madison, WI'),
 (12264, 'Washington, DC'),
 (13830, 'Kahului, HI'),
 (13502, 'Montrose/Delta, CO'),
 (12441, 'Jackson, WY'),
 (10155, 'Waco, TX'),
 (14908, 'Santa Ana, CA'),
 (11775, 'Sioux Falls, SD'),
 (15624, 'Valparaiso, FL'),
 (14108, 'Peoria, IL'),
 (14771, 'San Francisco, CA'),
 (15016, 'St. Louis, MO'),
 (12891, 'Lawton/Fort Sill, OK'),
 (15919, 'Fayetteville, AR'),
 (11042, 'Cleveland, OH'),
 (14679, 'San Diego, CA'),
 (14588, 'Roswell, NM'),
 (13277, 'Montgomery, AL'),
 (11122, 'Casper, WY'),
 (14698, 'San Luis Obispo, CA'),
 (12191, 'Houston, TX'),
 (11973, 'Gulfport/Biloxi, MS'),
 (15370, 'Tulsa, OK'),
 (14252, 'Pasco/Kennewick/Richland, WA'),
 (11267, 'Dayton, OH'),
 (12892, 'Los Angeles, CA'),
 (14685, 'Savannah, GA'),
 (14843, 'San Juan, PR'),
 (10868, 'Columbia, SC'),
 (14107, 'Phoenix, AZ'),
 (11648, 'Kalispell, MT'),
 (11292, 'Denver, CO'),
 (13486, 'Missoula, MT'),
 (11996, 'Greer, SC'),
 (10747, 'Brownsville, TX'),
 (14842, 'San Angelo, TX'),
 (11259, 'Dallas, TX'),
 (11638, 'Fresno, CA'),
 (13931, 'Norfolk, VA'),
 (14952, 'Springfield, IL'),
 (13495, 'New Orleans, LA'),
 (11298, 'Dallas/Fort Worth, TX'),
 (11905, 'Longview, TX'),
 (10529, 'Hartford, CT'),
 (12217, 'Huntsville, AL'),
 (10849, 'Bozeman, MT'),
 (10279, 'Amarillo, TX'),
 (11980, 'Grand Island, NE'),
 (11603, 'Eugene, OR'),
 (12945, 'Lexington, KY'),
 (13256, 'Mission/McAllen/Edinburg, TX'),
 (10299, 'Anchorage, AK'),
 (11433, 'Detroit, MI'),
 (12173, 'Honolulu, HI'),
 (11884, 'Spokane, WA'),
 (16218, 'Yuma, AZ'),
 (10874, 'Akron, OH'),
 (14262, 'Palm Springs, CA'),
 (10372, 'Aspen, CO')]

With Recursive实现，对比两种实现方式实现的优缺点

In [6]:
%%sql
WITH RECURSIVE
    link_with_name AS(
        SELECT start_node_id AS start_node_id, start_name, end_node_id,  airport_name AS end_name
        FROM(
            SELECT start_node_id, airport_name AS start_name, end_node_id 
            FROM airport_link , airport_list
            WHERE start_node_id = airport_id) AS link_start, 
            airport_list
        WHERE end_node_id = airport_id
    ),
    all_airport(start_node_id, start_name, depth) AS(
        SELECT DISTINCT end_node_id, end_name,1 AS depth
        FROM link_with_name
        WHERE start_name = 'Durango, CO'
        UNION ALL
        SELECT DISTINCT link_with_name.end_node_id AS end_node_id, link_with_name.end_name AS end_name, depth + 1 AS depth
        FROM all_airport INNER JOIN link_with_name ON link_with_name.start_node_id = all_airport.start_node_id
        WHERE depth < 1
    )
    
SELECT DISTINCT start_node_id, start_name AS airport_name
FROM all_airport;

 * postgresql://postgres:***@localhost:5432/hw5
3 rows affected.

[(14107, 'Phoenix, AZ'),
 (11292, 'Denver, CO'),
 (11298, 'Dallas/Fort Worth, TX')]

2.3 查询哪些机场最多一次转机能够达到"Bethel, AK"机场的机场名称和AIRPORT_ID，使用With Recursive实现。（2分）

In [7]:
%%sql
WITH RECURSIVE
    link_with_name AS(
        SELECT start_node_id AS start_node_id, start_name, end_node_id,  airport_name AS end_name
        FROM(
            SELECT start_node_id, airport_name AS start_name, end_node_id 
            FROM airport_link , airport_list
            WHERE start_node_id = airport_id) AS link_start, 
            airport_list
        WHERE end_node_id = airport_id
    ),
    all_airport(end_node_id, end_name, depth) AS(
        SELECT DISTINCT start_node_id, start_name,1 AS depth
        FROM link_with_name
        WHERE end_name = 'Bethel, AK'
        UNION ALL
        SELECT DISTINCT link_with_name.start_node_id AS start_node_id, link_with_name.start_name AS start_name, depth + 1 AS depth
        FROM all_airport INNER JOIN link_with_name ON link_with_name.end_node_id = all_airport.end_node_id
        WHERE depth < 2
    )
    
SELECT DISTINCT end_node_id, end_name AS airport_name
FROM all_airport;

 * postgresql://postgres:***@localhost:5432/hw5
26 rows affected.

[(11336, 'Dillingham, AK'),
 (14869, 'Salt Lake City, UT'),
 (10245, 'King Salmon, AK'),
 (14057, 'Portland, OR'),
 (10165, 'Adak Island, AK'),
 (13930, 'Chicago, IL'),
 (14747, 'Seattle, WA'),
 (13873, 'Nome, AK'),
 (14709, 'Deadhorse, AK'),
 (13487, 'Minneapolis, MN'),
 (10754, 'Barrow, AK'),
 (12266, 'Houston, TX'),
 (12954, 'Long Beach, CA'),
 (14771, 'San Francisco, CA'),
 (13970, 'Kotzebue, AK'),
 (10170, 'Kodiak, AK'),
 (12892, 'Los Angeles, CA'),
 (14107, 'Phoenix, AZ'),
 (11292, 'Denver, CO'),
 (12523, 'Juneau, AK'),
 (11298, 'Dallas/Fort Worth, TX'),
 (10299, 'Anchorage, AK'),
 (12173, 'Honolulu, HI'),
 (10926, 'Cordova, AK'),
 (11630, 'Fairbanks, AK'),
 (10551, 'Bethel, AK')]

2.4 查询从"Dillingham, AK"机场到达 "Gainesville, FL"机场所需的最少转机次数，使用With Recursive实现。如果无法直接写出该语句，或运行时间过长，可以尝试枚举遍历法，即k从1，2，….不断增加，当k为多少，存在这样的路径。（3分）

In [8]:
%%sql 
WITH RECURSIVE
    path(airport_id, airport_name, length) AS(
        SELECT airport_id, airport_name, -1 AS length
        FROM airport_list
        WHERE airport_name = 'Dillingham, AK'
        UNION ALL
        SELECT DISTINCT end_node_id, airport_list.airport_name, length + 1 AS length
        FROM  airport_list, airport_link, path
        WHERE start_node_id = path.airport_id and end_node_id = airport_list.airport_id AND length < 3
    )

SELECT * FROM path WHERE airport_name = 'Gainesville, FL';

 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.

[(11953, 'Gainesville, FL', 3)]

从"Dillingham, AK"机场到达 "Gainesville, FL"机场的最少转机次数是（   3  ）次。

2.5 查询是否存在两个机场，无论经多少次转机都无法达到？使用With Recursive实现。（3分）

In [9]:
%%sql 
WITH RECURSIVE
    path_start(airport_id, airport_name, length) AS(
        SELECT airport_id, airport_name, -1 AS length
        FROM airport_list
        WHERE airport_name = 'Dillingham, AK'
        UNION ALL
        SELECT DISTINCT end_node_id, airport_list.airport_name, length + 1 AS length
        FROM  airport_list, airport_link, path_start
        WHERE start_node_id = path_start.airport_id and end_node_id = airport_list.airport_id AND length < 3
    ),
    path_end(airport_id, airport_name, length) AS(
        SELECT airport_id, airport_name, -1 AS length
        FROM airport_list
        WHERE airport_name = 'Dillingham, AK'
        UNION ALL
        SELECT DISTINCT start_node_id, airport_list.airport_name, length + 1 AS length
        FROM  airport_list, airport_link, path_end
        WHERE end_node_id = path_end.airport_id and start_node_id = airport_list.airport_id AND length < 3
    )
    
SELECT (count(*) <> 0) AS is_exist 
FROM airport_list
WHERE airport_id NOT IN (
    SELECT airport_id FROM path_start
    UNION
    SELECT airport_id FROM path_end
)

 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.

[(False,)]

回答是否存在：（     不存在    ）
以Dillingham, AK为中间途径的一个机场，所有机场都能够在4次转机内到达

2.6 使用pgRouting的[pgr_dijkstra](http://docs.pgrouting.org/latest/en/pgr_dijkstra.html)函数，查询从"Dillingham, AK"机场到达 "Gainesville, FL"机场的最少花费路径，返回seq, node, edge, cost。（2分）

In [10]:
%%time
%%sql 
SELECT seq, node, edge, cost
FROM pgr_dijkstra(
    'SELECT link_id AS id, start_node_id AS source, end_node_id AS target, cost FROM airport_link',
    (SELECT airport_id FROM airport_list WHERE airport_name = 'Dillingham, AK'), 
    (SELECT airport_id FROM airport_list WHERE airport_name = 'Gainesville, FL'),
    TRUE
);

 * postgresql://postgres:***@localhost:5432/hw5
5 rows affected.
CPU times: user 4.27 ms, sys: 61 µs, total: 4.33 ms
Wall time: 8.29 ms

[(1, 11336, 742, 329.0),
 (2, 10299, 834, 2519.0),
 (3, 13487, 3499, 907.0),
 (4, 10397, 19, 300.0),
 (5, 11953, -1, 0.0)]

2.7 (练习题) pgRouting同时提供了[pgr_aStar](http://docs.pgrouting.org/latest/en/pgr_aStar.html)函数，对比Dijkstra算法与Astar算法，并说明在2.6题中为何不能使用pgr_aStar函数？Jupyter Notebook可以使用%%time给出cell的代码运行一次所花费的时间。

A星算法通过计算地理要素xy的距离来计算cost，而我们的数据中并没有给出机场地理要素的坐标信息

### 3. 深圳地铁网络构建与查询（9分）

地铁是典型的空间网络，深圳目前有10条运行的地铁线路，分别为：

1号线(罗宝线)
罗湖-国贸-老街-大剧院-科学馆-华强路-岗厦-会展中心-购物公园-香蜜湖-车公庙-竹子林-侨城东-华侨城-世界之窗-白石洲-高新园-深大-桃园-大新-鲤鱼门-前海湾-新安-宝安中心-宝体-坪洲-西乡-固戍-后瑞-机场东

2号线(蛇口线)
赤湾-蛇口港-海上世界-水湾-东角头-湾厦-海月-登良-后海-科苑-红树湾-世界之窗-侨城北-深康-安托山-侨香-香蜜-香梅北-景田-莲花西-福田-市民中心-岗厦北-华强北-燕南-大剧院-湖贝-黄贝岭-新秀-莲塘口岸-仙湖路-莲塘-梧桐山南-沙头角-海山-盐田港西-深外高中-盐田路

3号线(龙岗线)
福保-益田-石厦-购物公园-福田-少年宫-莲花村-华新-通新岭-红岭-老街-晒布-翠竹-田贝-水贝-草埔-布吉-木棉湾-大芬-丹竹头-六约-塘坑-横岗-永湖-荷坳-大运-爱联-吉祥-龙城广场-南联-双龙

4号线(龙华线)
福田口岸-福民-会展中心-市民中心-少年宫-莲花北-上梅林-民乐-白石龙-深圳北站-红山-上塘-龙胜-龙华-清湖-清湖北-竹村-清湖-茜坑-长湖-观澜-松元厦-观澜湖-牛湖

5号线(环中线)
黄贝岭-怡景-太安-布心-百鸽笼-布吉-长龙-下水径-上水径-杨美-坂田-五和-民治-深圳北站-长岭陂-塘朗-大学城-西丽-留仙洞-兴东-洪浪北-灵芝-翻身-宝安中心-宝华-临海-前海湾-桂湾-前湾-前湾公园-妈湾-铁路公园-荔湾-赤湾

6号线(光明线)
科学馆-通新岭-体育中心-八卦岭-银湖-翰岭-梅林关-深圳北站-红山-上芬-元芬-阳台山东-官田-上屋-长圳-凤凰城-光明大街-光明-科学公园-楼村-红花山-公明广场-合水口-薯田埔-松岗公园-溪头-松岗

7号线(西丽线)
西丽湖-西丽-茶光-珠光-龙井-桃源村-深云-安托山-农林-车公庙-上沙-沙尾-石厦-皇岗村-福民-皇岗口岸-赤尾-华强南-华强北-华新-黄木岗-八卦岭-红岭北-笋岗-洪湖-田贝-太安

9号线(梅林线)
前湾-梦海-怡海-荔林-南油西-南油-南山书城-深大南-粤海门-高新南-红树湾南-深湾-深圳湾公园-下沙-车公庙-香梅-景田-梅景-下梅林-梅村-上梅林-孖岭-银湖-泥岗-红岭北-园岭-红岭-红岭南-鹿丹村-人民南-向西村-文锦

10号线(坂田线)
福田口岸-福民-岗厦-岗厦北-莲花村-冬瓜岭-孖岭-雅宝-南坑-光雅园-五和-坂田北-贝尔路-华为-岗头-雪象-甘坑-凉帽山-上李朗-木古-华南城-禾花-平湖-双拥街

11号线(机场快线)
福田-车公庙-红树湾南-后海-南山-前海湾-宝安-碧海湾-机场-机场北-福永-桥头-塘尾-马安山-沙井-后亭-松岗-碧头


百度地图实现了深圳地铁网络站点间的查询，[深圳轨道交通查询](http://map.baidu.com/?subwayShareId=shenzhen,340)。

创建Line(id, lineName, name, geom(MultiLineString, 4326))，Station(id, name, geom(Point, 4326))，Link(id serial, fromStation, toStation, lineID)关系，根据提供的数据确定属性的数据类型，指定关系的主键和外键，并将lines.txt，stations.txt和links.txt导入相应关系中。

In [3]:
from geom_display import display

In [15]:
%%sql
Drop Table if exists LINK cascade;
Drop Table if exists STATION cascade;
Drop Table if exists LINE cascade;

create table LINE
(
    id       INT PRIMARY KEY,
    lineName VARCHAR(50),
    name     VARCHAR(50),
    geom     geometry(MultiLineString, 4326)
);

create table STATION
(
     id   INT PRIMARY KEY,
     name VARCHAR(50),
     geom geometry(Point, 4326)
);

create table LINK
(
    id          serial PRIMARY KEY,
    fromStation INT,
    toStation   INT,
    lineID      INT,
    foreign key (fromStation) references STATION(id),
    foreign key (toStation)   references STATION(id),
    foreign key (lineID)      references LINE(id)
);

copy line    from  '/home/jwimd/Study/Geospatial_Database/Homework/hw5/data/line.txt'    delimiter '#';
copy station from  '/home/jwimd/Study/Geospatial_Database/Homework/hw5/data/station.txt' delimiter '#';
copy link    from  '/home/jwimd/Study/Geospatial_Database/Homework/hw5/data/link.txt'    delimiter '#';

 * postgresql://postgres:***@localhost:5432/hw5
Done.
Done.
Done.
Done.
Done.
Done.
10 rows affected.
236 rows affected.
550 rows affected.

[]

实现以下地铁空间网络的分析与查询，注意不能修改上述关系，如增加属性，不能使用pgRouting函数实现。

3.1 给定地铁线路名称，如“西丽线”，查询该线上的站点数目。(Find the number of stops on the Yellow West (YW) route)

In [13]:
%%sql 
select count(distinct fromstation)
from link join line on link.lineid = line.id
where line.name = '西丽线'

 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.

[(27,)]

3.2 给定地铁站名称，如“世界之窗”，查询该地铁站所能到达的所有地铁站(可换乘, **路径长度不会超过30**)，使用With Recursive实现。(List all stops which can be reached from Downtown Berkeley (2))（2分）

In [26]:
%%sql 
WITH RECURSIVE
    path(id, name, length) AS(
        SELECT id, name, 0 AS length
        FROM station
        WHERE name = '世界之窗'
        UNION ALL
        SELECT DISTINCT station.id AS id, station.name AS name, length + 1 AS length
        FROM station, link, path
        WHERE link.fromStation = path.id and link.toStation = station.id AND length < 30
    )
    
SELECT DISTINCT id, name 
FROM path;

 * postgresql://postgres:***@localhost:5432/hw5
235 rows affected.

[(143, '雅宝'),
 (17, '临海'),
 (148, '民乐'),
 (195, '香梅'),
 (104, '湖贝'),
 (185, '下沙'),
 (179, '红树湾'),
 (154, '上塘'),
 (203, '冬瓜岭'),
 (63, '茜坑'),
 (37, '薯田埔'),
 (120, '八卦岭'),
 (26, '宝华'),
 (217, '益田'),
 (111, '华新'),
 (184, '车公庙'),
 (88, '梧桐山南'),
 (233, '南联'),
 (235, '吉祥'),
 (102, '向西村'),
 (45, '沙井'),
 (12, '大新'),
 (40, '红花山'),
 (41, '楼村'),
 (135, '木棉湾'),
 (156, '西丽'),
 (105, '黄贝岭'),
 (212, '皇岗村'),
 (65, '松元厦'),
 (205, '少年宫'),
 (125, '银湖'),
 (171, '粤海门'),
 (226, '深外高中'),
 (189, '深康'),
 (75, '平湖'),
 (123, '红岭北'),
 (71, '科学公园'),
 (84, '塘坑'),
 (229, '荷坳'),
 (96, '洪湖'),
 (165, '龙井'),
 (52, '官田'),
 (14, '桂湾'),
 (35, '溪头'),
 (55, '元芬'),
 (146, '梅林关'),
 (74, '双拥街'),
 (106, '罗湖'),
 (170, '科苑'),
 (218, '福保'),
 (7, '妈湾'),
 (201, '上梅林'),
 (234, '龙城广场'),
 (87, '丹竹头'),
 (216, '沙尾'),
 (68, '凤凰城'),
 (23, '坪洲'),
 (213, '石厦'),
 (175, '深大南'),
 (94, '翠竹'),
 (214, '购物公园'),
 (221, '东角头'),
 (196, '香梅北'),
 (173, '南山'),
 (92, '莲塘口岸'),
 (158, '大学城'),
 (132, '布吉'),
 (44, '马安山'),
 (58, '贝尔路'),
 (133, '长龙'),
 (138, '坂田'),
 (80, '甘坑'),
 (119, '通新岭'),
 (109, '皇岗口岸'),
 (73, '观澜湖'),
 (145, '南坑'),
 (6, '铁路公园'),
 (29, '洪浪北'),
 (223, '海山'),
 (85, '横岗'),
 (177, '南油'),
 (83, '上李朗'),
 (206, '福田'),
 (20, '灵芝'),
 (225, '沙头角'),
 (215, '上沙'),
 (100, '国贸'),
 (220, '海月'),
 (82, '木古'),
 (15, '梦海'),
 (114, '华强南'),
 (187, '侨城东'),
 (222, '湾厦'),
 (130, '布心'),
 (42, '后亭'),
 (18, '新安'),
 (108, '鹿丹村'),
 (101, '老街'),
 (70, '光明'),
 (10, '南油西'),
 (8, '前湾公园'),
 (197, '梅景'),
 (43, '松岗'),
 (11, '荔林'),
 (142, '民治'),
 (72, '牛湖'),
 (3, '蛇口港'),
 (200, '梅村'),
 (127, '草埔'),
 (16, '前湾'),
 (31, '后瑞'),
 (27, '碧海湾'),
 (207, '市民中心'),
 (153, '红山'),
 (22, '宝安中心'),
 (117, '红岭南'),
 (231, '爱联'),
 (199, '莲花北'),
 (180, '红树湾南'),
 (140, '坂田北'),
 (76, '禾花'),
 (60, '清湖'),
 (46, '塘尾'),
 (19, '前海湾'),
 (136, '大芬'),
 (144, '光雅园'),
 (191, '侨香'),
 (166, '珠光'),
 (141, '五和'),
 (176, '后海'),
 (128, '水贝'),
 (129, '太安'),
 (150, '塘朗'),
 (1, '赤湾'),
 (121, '体育中心'),
 (57, '上芬'),
 (116, '科学馆'),
 (13, '鲤鱼门'),
 (110, '赤尾'),
 (204, '莲花村'),
 (49, '机场北'),
 (157, '茶光'),
 (61, '清湖北'),
 (4, '水湾'),
 (194, '景田'),
 (131, '百鸽笼'),
 (28, '西乡'),
 (50, '机场东'),
 (211, '福民'),
 (163, '世界之窗'),
 (24, '宝安'),
 (161, '深云'),
 (53, '阳台山东'),
 (39, '公明广场'),
 (69, '光明大街'),
 (178, '登良'),
 (78, '岗头'),
 (5, '荔湾'),
 (190, '香蜜'),
 (228, '永湖'),
 (89, '新秀'),
 (198, '下梅林'),
 (224, '盐田港西'),
 (126, '黄木岗'),
 (32, '机场'),
 (193, '莲花西'),
 (149, '白石龙'),
 (152, '深圳北站'),
 (67, '长圳'),
 (98, '晒布'),
 (51, '上屋'),
 (56, '龙华'),
 (112, '华强北'),
 (64, '长湖'),
 (208, '岗厦北'),
 (66, '观澜'),
 (183, '深圳湾公园'),
 (95, '田贝'),
 (99, '大剧院'),
 (174, '南山书城'),
 (186, '竹子林'),
 (230, '大运'),
 (115, '燕南'),
 (77, '华南城'),
 (90, '莲塘'),
 (160, '桃源村'),
 (9, '怡海'),
 (167, '深大'),
 (151, '长岭陂'),
 (188, '安托山'),
 (30, '兴东'),
 (79, '雪象'),
 (2, '海上世界'),
 (48, '福永'),
 (33, '固戍'),
 (227, '盐田路'),
 (59, '华为'),
 (47, '桥头'),
 (192, '农林'),
 (62, '竹村'),
 (124, '泥岗'),
 (134, '下水径'),
 (122, '园岭'),
 (164, '白石洲'),
 (34, '碧头'),
 (210, '会展中心'),
 (147, '翰岭'),
 (137, '上水径'),
 (236, '香蜜湖'),
 (81, '凉帽山'),
 (118, '红岭'),
 (25, '宝体'),
 (38, '合水口'),
 (54, '龙胜'),
 (181, '深湾'),
 (162, '侨城北'),
 (36, '松岗公园'),
 (21, '翻身'),
 (139, '杨美'),
 (182, '华侨城'),
 (202, '孖岭'),
 (93, '怡景'),
 (91, '仙湖路'),
 (103, '文锦'),
 (219, '福田口岸'),
 (155, '留仙洞'),
 (169, '高新南'),
 (113, '华强路'),
 (172, '桃园'),
 (168, '高新园'),
 (107, '人民南'),
 (86, '六约'),
 (97, '笋岗'),
 (159, '西丽湖'),
 (209, '岗厦')]

3.3 给定两个地铁站名称，如“深大”和“华为”，查询连接给定地铁站的路径，该路径经过的站点数目最少(假设地铁在任意两站之间的行驶时间相等)，即时间最短的路径(较快捷, **路径长度不会超过30**)，具体可查看[深圳轨道交通查询](http://map.baidu.com/?subwayShareId=shenzhen,340)上的路径查询效果，使用With Recursive实现。(List the routes numbers that connect Downtown Berkeley (2) & Daly City (5))（3分）

In [16]:
#查询经过站点数目最少的地铁路径。返回结果为三元组(gid站点id, name站点名称, geom站点位置),即路径上经过的所有站点
#若query1内容包含汉字，请用decode方法按照utf-8进行解码
query1 = """
WITH RECURSIVE
    path_list(id, length, path, is_passed) AS(
        SELECT id, 0 AS length, array[id], false
        FROM station
        WHERE name = '深大'
        UNION ALL
        SELECT DISTINCT toStation AS id, length + 1 AS length, path || toStation, toStation = any(path)
        FROM path_list, link
        WHERE link.fromStation = path_list.id AND not path_list.is_passed AND length < 30
    )
    
SELECT station.id AS gid, station.name AS name, station.geom AS geom
FROM station, 
    (SELECT *
    FROM path_list
    WHERE id = (SELECT id FROM station WHERE name = '华为')
    ORDER BY length ASC
    LIMIT 1) AS path_list
WHERE station.id = any(path_list.path);
"""

result1 = %sql $query1

#根据results的路径查询结果，返回经过的地铁路径。返回结果为三元组(gid地铁线号, name其由linename和name拼接而成, geom地铁路线的几何信息)
query2 = """
WITH RECURSIVE
    path_list(id, length, path, line_list, is_passed) AS(
        SELECT id, 0 AS length, array[id], array[]::integer[], false
        FROM station
        WHERE name = '深大'
        UNION ALL
        SELECT DISTINCT toStation AS id, length + 1 AS length, path || toStation, line_list || lineID, toStation = any(path)
        FROM path_list, link
        WHERE link.fromStation = path_list.id AND not path_list.is_passed AND length < 30
    )
    
SELECT DISTINCT line.id AS gid, line.lineName || line.name AS name, line.geom AS geom
FROM line, 
    (SELECT *
    FROM path_list
    WHERE id = (SELECT id FROM station WHERE name = '华为')
    ORDER BY length ASC
    LIMIT 1) AS path_list
WHERE line.id = any(path_list.line_list);
"""
result2 = %sql $query2

display([result1, result2], "map1", 12, showToolTipLayer = 1, baseMapType = 0)

 * postgresql://postgres:***@localhost:5432/hw5
20 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
6 rows affected.

3.4 给定两个地铁站名称，如“机场东”和“深云”，查询连接给定地铁站的路径，该路径换乘次数最少(**路径长度不会超过30**)，具体可查看[深圳轨道交通查询](http://map.baidu.com/?subwayShareId=shenzhen,340)上的路径查询效果，使用With Recursive实现。(List the routes numbers that connect Downtown Berkeley (2) & Daly City (5))（4分）

In [17]:
#查询换乘次数最少的地铁路径。返回结果为三元组(gid站点id, name站点名称, geom站点位置),即路径上经过的所有站点
#若query1内容包含汉字，请用decode方法按照utf-8进行解码
query1 = """
WITH RECURSIVE
    path_list(id, length, path, line_list, is_passed) AS(
        SELECT id, 0 AS length, array[id], array[]::integer[], false
        FROM station
        WHERE name = '深大'
        UNION ALL
        SELECT DISTINCT toStation AS id, length + 1 AS length, path || toStation, line_list || lineID, toStation = any(path)
        FROM path_list, link
        WHERE link.fromStation = path_list.id AND not path_list.is_passed AND length < 30
    )
    
SELECT station.id AS gid, station.name AS name, station.geom AS geom
FROM (SELECT DISTINCT line_list, path, count(*) AS length
      FROM line, 
          (SELECT *
          FROM path_list
          WHERE id = (SELECT id FROM station WHERE name = '华为')) AS path_list
      WHERE line.id = any(path_list.line_list)
      GROUP BY line_list, path
      ORDER BY count(*) ASC
      LIMIT 1) AS short, station
WHERE station.id = any(short.path);
"""

result1 = %sql $query1

#根据results的路径查询结果，返回经过的地铁路径。返回结果为三元组(gid地铁线号, name其由linename和name拼接而成, geom地铁路线的几何信息)
query2 = """
WITH RECURSIVE
    path_list(id, length, path, line_list, is_passed) AS(
        SELECT id, 0 AS length, array[id], array[]::integer[], false
        FROM station
        WHERE name = '深大'
        UNION ALL
        SELECT DISTINCT toStation AS id, length + 1 AS length, path || toStation, line_list || lineID, toStation = any(path)
        FROM path_list, link
        WHERE link.fromStation = path_list.id AND not path_list.is_passed AND length < 30
    )
    
SELECT DISTINCT line.id AS gid, line.lineName || line.name AS name, line.geom AS geom
FROM (SELECT DISTINCT line_list, path, count(*) AS length
      FROM line, 
          (SELECT *
          FROM path_list
          WHERE id = (SELECT id FROM station WHERE name = '华为')) AS path_list
      WHERE line.id = any(path_list.line_list)
      GROUP BY line_list, path
      ORDER BY count(*) ASC
      LIMIT 1) AS short, line
WHERE line.id = any(short.line_list);
"""
result2 = %sql $query2

display([result1, result2], "map2", 12, showToolTipLayer = 1, baseMapType = 0)

 * postgresql://postgres:***@localhost:5432/hw5
23 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
2 rows affected.

3.5 (练习题) 给定地铁线路名称，如“环中线”，查询该线上的起点或终点的地铁站。(Find the last stop on the Blue West (BW) route)

In [24]:
%%sql
WITH
    line_link AS(
        SELECT *
        FROM link
        WHERE lineID = (SELECT id FROM line WHERE name = '环中线')
    ),
    line_station AS(
        SELECT station.id AS id, station.name AS name
        FROM station, line_link
        WHERE station.id = fromStation OR station.id = toStation
    )

SELECT DISTINCT *
FROM line_station
GROUP BY id, name
HAVING count(id) = 2;

 * postgresql://postgres:***@localhost:5432/hw5
2 rows affected.

[(1, '赤湾'), (105, '黄贝岭')]

3.6 (练习题) [深圳轨道交通查询](http://map.baidu.com/?subwayShareId=shenzhen,340)提供了“较快捷”和“少换乘”两种查询模式，是否存在两个地铁站点的“较快捷”和“少换乘”路径不同？如果有请至少举例一对这样的站点，并修改3.3和3.4的站点名称，显示不同路径，如果没有，请说明理由。

深大到华为的“较快捷”和“少换乘”路径不同

### 4. 杭州道路网路构建与最短路径查询（28分）

Geocoding类库[geopy](https://github.com/geopy/geopy)利用the OpenStreetMap Nominatim, ESRI ArcGIS, Google Geocoding API (V3), Baidu Maps, Bing Maps API, Yahoo! PlaceFinder, Yandex, IGN France, GeoNames, NaviData, OpenMapQuest, What3Words, OpenCage, SmartyStreets, geocoder.us, and GeocodeFarm geocoder services，通过地址可以获得经纬度，或者通过经纬度获得地址，可以用于解决Lecture 9 Location Based Services中的Location: Where am I?问题。

基于OpenStreetMap上的杭州道路数据，包括poi(point of interest 点数据)和road(道路数据)，构建杭州道路网络，实现杭州道路上的最短路径查询。所建立的杭州道路网络为无向网络，在导航的过程中无需考虑道路单行道及走向问题。几何展示使用display函数，其查询结果至少包含gid，name和geom属性。

#### 4.0 Geocoding

Python函数address2location，输入地址字符串，返回经纬度。由于作业使用OpenStreetMap的道路数据，geocoding使用的是OpenStreetMap的Nominatim类。同一user_agent访问次数过多，可能会导致访问超时，可以尝试修改user_agent为其他任意名称。

In [17]:
from geopy.geocoders import Nominatim

def address2location(address):
    geolocator = Nominatim(user_agent = "jwimd500", timeout = 1000)
    location   = geolocator.geocode(address)
    return (location.latitude, location.longitude)

In [18]:
addresses = ["浙江大学紫金港校区", "浙江大学玉泉校区", "浙江大学西溪校区", "浙江大学华家池校区"]

for address in addresses:
    point = address2location(address)
    print(address + "经纬度是(" + str(point[0]) + ", " + str(point[1]) + ")")

KeyboardInterrupt:

如果geocoding出错，超时无法返回经纬度信息，可以直接使用如下经纬度
* 浙江大学紫金港校区经纬度是(30.305078, 120.07534322932361)
* 浙江大学玉泉校区经纬度是(30.2665272, 120.1180431818039)
* 浙江大学西溪校区经纬度是(30.2768278, 120.13663990955736)
* 浙江大学华家池校区经纬度是(30.270785, 120.19109147440903)

#### 4.1 数据类型转换（3分）

道路的几何类型可能为ST_MultiLineString，如美国高速公路，但pgRouting是基于ST_LineString几何类型（思考为何不能使用ST_MultiLineString类型）。使用with recursive语句，将road_multilinestring关系的MultiLineString转换为LineString，保存在road_linestring关系中，**不能硬编码MultiLineString中的LineString的数目**。其中，name字段命名规则为road_multilinestring的name字段与该LineString的序号的拼接，中间用'.'分开。例如，"A"公路的MultiLineString包含4条LineString，则依次命名为"A.1", "A.2", "A.3"和"A.4"。

In [19]:
%%sql 
drop table if exists road_multilinestring;
CREATE TABLE road_multilinestring (
    gid serial primary key, 
    name character varying(20),
    geom geometry(MultiLineString, 4326)
);

insert into road_multilinestring(name, geom) values ('A', ST_GeomFromText('MultiLineString((1 1, 2 2, 3 3),(4 5, 6 7, 8 9),(4 5, 6 7, 8 9),(6 5, 4 3, 2 1))', 4326));
insert into road_multilinestring(name, geom) values ('B', ST_GeomFromText('MultiLineString((1 1, 2 2, 3 3),(4 5, 6 7, 8 9))', 4326));

drop table if exists road_linestring;
CREATE TABLE road_linestring (
    gid serial primary key, 
    name character varying(20),
    geom geometry(LineString, 4326)
);

 * postgresql://postgres:***@localhost:5432/hw5
Done.
Done.
1 rows affected.
1 rows affected.
Done.
Done.

[]

In [20]:
%%sql
WITH RECURSIVE 
    lineString_list(geom, name, depth) AS (
        SELECT ST_GeometryN(road1.geom, 1), name||'.1', 1
        FROM road_multilinestring AS road1
        UNION ALL
        SELECT ST_GeometryN(road1.geom, depth + 1), road1.name || '.' || depth + 1, depth + 1 
        FROM road_multilinestring AS road1, lineString_list
        WHERE depth < (
            SELECT ST_NumGeometries(road2.geom) 
            FROM road_multilinestring AS road2
            WHERE road1.name = road2.name) 
    )

INSERT INTO road_linestring(geom, name) 
SELECT DISTINCT geom AS geom, name AS name 
FROM lineString_list 
WHERE geom IS NOT NULL;

 * postgresql://postgres:***@localhost:5432/hw5
6 rows affected.

[]

In [21]:
%sql select name, ST_AsText(geom) from road_linestring order by name

 * postgresql://postgres:***@localhost:5432/hw5
6 rows affected.

[('A.1', 'LINESTRING(1 1,2 2,3 3)'),
 ('A.2', 'LINESTRING(4 5,6 7,8 9)'),
 ('A.3', 'LINESTRING(4 5,6 7,8 9)'),
 ('A.4', 'LINESTRING(6 5,4 3,2 1)'),
 ('B.1', 'LINESTRING(1 1,2 2,3 3)'),
 ('B.2', 'LINESTRING(4 5,6 7,8 9)')]

#### 4.2 杭州道路网络构建（3分）

实现人造道路上的道路网络构建，在pgAdmin 4中执行pgr_createTopology，pgr_analyzeGraph，pgr_nodeNetwork函数，生成道路空间网络模型。利用sql语句将自动生成的边表和顶点表信息分别插入到edges(注意len字段的更新)和nodes中。edges表的name字段命名规则为road的name字段与分割后subid字段的拼接，中间用'.'分开，例如，"A"道路经过分割后的道路名称未"A.1"和"A.2"，相邻的节点需要合并。
<img src = "roads.png">

In [54]:
%%sql
drop table if exists roads;
drop table if exists edges;
drop table if exists nodes;

create table roads (
    id integer NOT NULL,
    name text,
    geom geometry(LineString,4326)
);

insert into roads values (1, 'A', ST_GeomFromText('LineString(0 0, 10 0)', 4326));
insert into roads values (2, 'B', ST_GeomFromText('LineString(0 0, 0 10)', 4326));
insert into roads values (3, 'C', ST_GeomFromText('LineString(0 10, 10 10)', 4326));
insert into roads values (4, 'D', ST_GeomFromText('LineString(10 0, 10 15)', 4326));
insert into roads values (5, 'E', ST_GeomFromText('LineString(0 5, 10 15)', 4326));
insert into roads values (6, 'F', ST_GeomFromText('LineString(5 0, 10 5)', 4326));
insert into roads values (7, 'G', ST_GeomFromText('LineString(0 10, 10 0)', 4326));
insert into roads values (8, 'H', ST_GeomFromText('LineString(5 10, 15 0)', 4326));

create table edges (
       id serial primary key,
       name text,
       source integer,
       target integer,
       geom geometry(LineString, 4326),
       len float);

create table nodes (
       id serial primary key,
       geom geometry(Point, 4326)
);

 * postgresql://postgres:***@localhost:5432/hw5
Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.

[]

In [55]:
%%sql
INSERT INTO edges(id, name, geom, len)
SELECT id, name, geom, ST_length(geom)
FROM roads;

SELECT pgr_createTopology('edges', 0.0001, 'geom', 'id', 'source','target', 'true');
SELECT pgr_analyzeGraph('edges',0.0001,'geom','id','source','target','true');
SELECT pgr_nodeNetwork('edges',0.0001,'id','geom');
SELECT pgr_createTopology('edges_noded', 0.0001, 'geom', 'id', 'source','target', 'true');
SELECT pgr_analyzeGraph('edges_noded', 0.0001, 'geom', 'id', 'source','target', 'true');

DROP TABLE IF EXISTS edges_temp;

CREATE TABLE edges_temp (
       id SERIAL PRIMARY KEY,
       name TEXT,
       source BIGINT,
       target BIGINT,
       geom geometry(LineString, 4326),
       len FLOAT
    );

INSERT INTO edges_temp(id, name,source,target,geom,len)
SELECT edges_noded.id ,name || '.' || sub_id, edges_noded.source, edges_noded.target, edges_noded.geom, ST_length(edges_noded.geom)
FROM edges_noded, edges
WHERE old_id = edges.id;

DELETE FROM edges;

INSERT INTO edges 
SELECT * 
FROM edges_temp;

DROP TABLE IF EXISTS edges_temp;

INSERT INTO nodes 
SELECT id, the_geom AS geom 
FROM edges_vertices_pgr;

 * postgresql://postgres:***@localhost:5432/hw5
8 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.
19 rows affected.
8 rows affected.
19 rows affected.
Done.
10 rows affected.

[]

根据道路网络构建实验回答以下问题：
Splitted Edges:8     Untouched Edges: 0   Total original Edges:8 
Edges generated:19     Total New segments:19
         
edges的数目为(  19 )，nodes的数目为( 10  )

In [50]:
%sql select id, name, source, target, ST_AsText(geom), len from edges;

 * postgresql://postgres:***@localhost:5432/hw5
19 rows affected.

[(1, 'A.1', 1, 2, 'LINESTRING(0 0,5 0)', 5.0),
 (2, 'A.2', 2, 3, 'LINESTRING(5 0,10 0)', 5.0),
 (3, 'B.1', 1, 4, 'LINESTRING(0 0,0 5)', 5.0),
 (4, 'B.2', 4, 5, 'LINESTRING(0 5,0 10)', 5.0),
 (5, 'C.1', 5, 6, 'LINESTRING(0 10,5 10)', 5.0),
 (6, 'C.3', 6, 7, 'LINESTRING(5 10,10 10)', 5.0),
 (7, 'D.1', 3, 8, 'LINESTRING(10 0,10 5)', 5.0),
 (8, 'D.3', 8, 7, 'LINESTRING(10 5,10 10)', 5.0),
 (9, 'D.4', 7, 9, 'LINESTRING(10 10,10 15)', 5.0),
 (10, 'E.1', 4, 10, 'LINESTRING(0 5,2.5 7.5)', 3.5355339059327378),
 (11, 'E.2', 10, 6, 'LINESTRING(2.5 7.5,5 10)', 3.5355339059327378),
 (12, 'E.4', 6, 9, 'LINESTRING(5 10,10 15)', 7.0710678118654755),
 (13, 'F.1', 2, 11, 'LINESTRING(5 0,7.5 2.5)', 3.5355339059327378),
 (14, 'F.2', 11, 8, 'LINESTRING(7.5 2.5,10 5)', 3.5355339059327378),
 (15, 'G.1', 5, 10, 'LINESTRING(0 10,2.5 7.5)', 3.5355339059327378),
 (16, 'G.2', 10, 11, 'LINESTRING(2.5 7.5,7.5 2.5)', 7.0710678118654755),
 (17, 'G.3', 11, 3, 'LINESTRING(7.5 2.5,10 0)', 3.5355339059327378),
 (18, 'H.1', 6, 8, 'LINESTRING(5 10,10 5)', 7.0710678118654755),
 (19, 'H.3', 8, 12, 'LINESTRING(10 5,15 0)', 7.0710678118654755)]

In [51]:
%sql select id, ST_AsText(geom) from nodes;

 * postgresql://postgres:***@localhost:5432/hw5
10 rows affected.

[(4, 'POINT(10 10)'),
 (6, 'POINT(0 5)'),
 (7, 'POINT(5 0)'),
 (8, 'POINT(10 5)'),
 (9, 'POINT(5 10)'),
 (1, 'POINT(0 0)'),
 (2, 'POINT(10 0)'),
 (3, 'POINT(0 10)'),
 (5, 'POINT(10 15)'),
 (10, 'POINT(15 0)')]

由于pgRounting的网络构建的随机性和杭州道路的复杂性，杭州道路网路将直接导入，用于4.3-4.8的道路网络查询。

In [23]:
%%sql
set client_encoding = 'GBK';
drop table if exists poi; 
drop table if exists edges;
drop table if exists nodes;

create table poi (
    id   integer NOT NULL,
    lon  double precision,
    lat  double precision,
    name text,
    geom geometry(Point,4326)
);

create table edges (
       id     serial primary key,
       name   text ,
       source int,
       target int,
       geom   geometry(LineString, 4326),
       len    float);

create table nodes (
       id   serial primary key,
       name text,
       geom geometry(Point, 4326)
);

copy poi   from  '/home/jwimd/Study/Geospatial_Database/Homework/hw5/data/poi.txt'   delimiter '#';
set client_encoding = 'utf-8';
copy edges from  '/home/jwimd/Study/Geospatial_Database/Homework/hw5/data/edges.txt' delimiter '#';
copy nodes from  '/home/jwimd/Study/Geospatial_Database/Homework/hw5/data/nodes.txt' delimiter '#';

 * postgresql://postgres:***@localhost:5432/hw5
Done.
Done.
Done.
Done.
Done.
Done.
Done.
2200 rows affected.
Done.
10673 rows affected.
6766 rows affected.

[]

#### 4.3 最近的道路网络节点（2分）

在路径导航过程中，假设出发和目的地都先走路到道路网络节点，通过ST_Location2Node函数获得当前位置最近的道路网络节点，再通过道路网络节点之间的最短距离实现Lecture 9 Location Based Services的Routes: How do I get there?问题。

实现ST_Location2Node函数，输入经纬度位置，输出道路网络中，离该位置直线距离最近的道路网络端点。

In [5]:
%%sql
create or replace function ST_Location2Node(lat float, lon float) 
    returns integer
as $$
declare num integer;
begin
    select id into num 
    from nodes
    order by ST_DistanceSphere(geom,ST_SetSRID(st_point(lon,lat),4326)) asc
    limit 1;
    return num;
end;
$$ language plpgsql;

 * postgresql://postgres:***@localhost:5432/hw5
Done.

[]

In [6]:
addresses = ["浙江大学紫金港校区", "浙江大学玉泉校区", "浙江大学西溪校区", "浙江大学华家池校区"]
point = [(30.305078, 120.07534322932361),(30.2665272, 120.1180431818039),(30.2768278, 120.13663990955736),(30.270785, 120.19109147440903)]

for index  in range(len(addresses)):
    #point = address2location(address)
    query = "select ST_Location2Node(%s, %s)" % (point[index][0], point[index][1])
    result = %sql $query
    print(addresses[index] + "直线距离最近的网络节点是" + str(result[0][0]))

 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
浙江大学紫金港校区直线距离最近的网络节点是422
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
浙江大学玉泉校区直线距离最近的网络节点是789
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
浙江大学西溪校区直线距离最近的网络节点是1044
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
浙江大学华家池校区直线距离最近的网络节点是2057

如果geocoding出错，超时无法返回经纬度信息，可以直接使用如下网络节点
* 浙江大学紫金港校区直线距离最近的网络节点是422
* 浙江大学玉泉校区直线距离最近的网络节点是789
* 浙江大学西溪校区直线距离最近的网络节点是1044
* 浙江大学华家池校区直线距离最近的网络节点是2057

#### 4.4 导航路径生成（Dijkstra算法）（2分）

根据4.3的查询结果，使用pg_dijkstra算法，查询从紫金港校区到西溪校区的最短驾驶距离对应的路线，查询结果至少包含gid，name和geom属性。

In [5]:
query = """    
SELECT edges.id AS gid, edges.name AS name, edges.geom AS geom
FROM edges
WHERE edges.id IN (
    SELECT edge
    FROM pgr_dijkstra(
            'SELECT id AS id, source AS source, target AS target, len AS cost FROM edges',
            422,
            1044,
            FALSE
        )
    );
"""
result = %sql $query

display([result], "map3", 13)

 * postgresql://postgres:***@localhost:5432/hw5
32 rows affected.

#### 4.5 驾驶距离最近的电影院（6分）

Lecture 9 Location Based Services的Directory: What is around me?，例如查询浙江大学西溪校区<b>直线距离最近</b>的电影院，注意本题共有**5处(修改此处)**需要修改。

In [25]:
point = (30.2768278, 120.13663990955736)
query = """
select id, name, ST_AsText(geom) 
from poi 
where name like '%%电影%%' or name like '%%影院%%' or name like '%%影城%%' 
ORDER BY ST_DistanceSphere(geom,ST_SetSRID(st_point(%f,%f),4326)) ASC
LIMIT 1;
"""% (point[1], point[0])
print(query)
result = %sql $query
print(result)

select id, name, ST_AsText(geom)
from poi
where name like '%电影%' or name like '%影院%' or name like '%影城%'
ORDER BY ST_DistanceSphere(geom,ST_SetSRID(st_point(120.136640,30.276828),4326)) ASC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
+------+----------+----------------------------+
|  id  |   name   |         st_astext          |
+------+----------+----------------------------+
| 2199 | 黄龙影城 | POINT(120.141376 30.27236) |
+------+----------+----------------------------+

实际上，希望查询驾驶距离最近的电影院('%电影%' or '%影院%', or '%影城%')，而非直线距离最近。基于当前位置的经纬度，输出驾驶距离最近的电影院，POI的id。忽略走路距离，位置到最近网络节点编号查询使用ST_Location2Node函数。通过查询最短驾驶距离，也实现了Lecture 9 Location Based Services的Routes: How do I get there?问题。

实现思路：依次遍历所有电影院，通过Dijkstra最短路径算法获得路径，计算总的路程，获得驾驶距离最短的电影院编号。

思考是否有更高效的方法，减少最短路径查询次数。

In [27]:
point = (30.2768278, 120.13663990955736)
result = %sql select id, ST_X(geom), ST_Y(geom) from poi where name like '%电影%' or name like '%影院%'  or name like '%影城%'
print(len(result))

 * postgresql://postgres:***@localhost:5432/hw5
5 rows affected.
5

In [36]:
point = (30.2768278, 120.13663990955736)
result = %sql select id, ST_X(geom), ST_Y(geom) from poi where name like '%电影%' or name like '%影院%'  or name like '%影城%'
print(len(result))

cinmaID = -1
minLength = 1e10
for cinma in result:
    query1 = "select ST_Location2Node(%f,%f) as id" %(point[0], point[1])
    closestp1 = %sql $query1
    query2 = "select ST_Location2Node(%f,%f) as id" %(cinma[2], cinma[1])
    closestp2 = %sql $query2
    query = """
                SELECT max(agg_cost)
                FROM pgr_dijkstra(
                        'SELECT id AS id, source AS source, target AS target, len AS cost FROM edges',
                        %d,
                        %d,
                        FALSE
                    );
            """ %(closestp1[0]['id'], closestp2[0]['id'])
    length = %sql $query
    if length[0][0] < minLength:
        minLength = length[0][0]
        cinmaID = cinma[0]

print(cinmaID, minLength)

 * postgresql://postgres:***@localhost:5432/hw5
5 rows affected.
5
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
2199 0.5688318014828403

在地图上展示从浙江大学西溪校区到其驾驶距离最近电影院的导航路径

In [6]:
point = (30.2768278, 120.13663990955736)
query1 = "select ST_Location2Node(%f,%f) as id" %(point[0], point[1])
closestp1 = %sql $query1
print(closestp1[0]['id'])

cinma = %sql select ST_X(geom), ST_Y(geom) from poi where id = 2199
query2 = "select ST_Location2Node(%f,%f) as id" %(cinma[0][1], cinma[0][0])
closestp2 = %sql $query2
print(closestp2[0]['id'])

#查询这两个网络节点之间的最短路径，输出为(gid,name,geom)三元组
query1 = """
SELECT edges.id AS gid, edges.name AS name, edges.geom AS geom
FROM edges
WHERE edges.id IN (
    SELECT edge
    FROM pgr_dijkstra(
            'SELECT id AS id, source AS source, target AS target, len AS cost FROM edges',
            2199,
            1044,
            FALSE
        )
    );
"""
result1 = %sql $query1

#查询这两个网络节点的几何信息，输出为(gid,name,geom)三元组
query2 = """
SELECT id AS gid, name AS name, geom AS geom
FROM nodes
WHERE id = 1044 OR id = 2199;
"""
result2 = %sql $query2

display([result1, result2], "map4", 13)

 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
1044
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.
3897
 * postgresql://postgres:***@localhost:5432/hw5
52 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
2 rows affected.

#### 4.6 导航路径推荐 （4分）

当查询从A到B的驾驶路线时，地图服务商（例如高德地图）通常会提供几条路线供用户选择，其中一条是最短驾驶距离对应的路线，其他路线可能会考虑当时的交通状况，例如某条道路当前比较拥堵，行驶缓慢，将提供避开此道路的最短驾驶距离对应的路线。

根据4.3的查询结果，基于Dijkstra算法生成从紫金港校区到玉泉校区的最短驾驶距离对应的路线，查询结果至少包含gid，name和geom属性。

<img src="routes.png" width = 400>

In [7]:
query = """    
SELECT edges.id AS gid, edges.name AS name, edges.geom AS geom
FROM edges
WHERE edges.id IN (
    SELECT edge
    FROM pgr_dijkstra(
            'SELECT id AS id, source AS source, target AS target, len AS cost FROM edges',
            422,
            789,
            FALSE
        )
    );
"""
result = %sql $query

display([result], "map5", 13)

 * postgresql://postgres:***@localhost:5432/hw5
27 rows affected.

假设以下道路存在拥堵

    "竞舟路.9.1.1.1.1.1.1", 起点为"POINT(120.0987188 30.2888717)", 终点为"POINT(120.1000613 30.2841765)" 
    "西溪路 Xixi Road.22.1.1.1.1.1.1", 起点为"POINT(120.1197977 30.2719367)", 终点为"POINT(120.1240717 30.2703345)"
    
根据4.3的查询结果，基于Dijkstra算法生成此时从紫金港校区到玉泉校区不包含上述道路的最短驾驶距离对应的路线，查询结果至少包含gid，name和geom属性。

In [8]:
dij_query = """
WITH
jingzhou AS(
    SELECT id
    FROM edges
    WHERE
    name = '竞舟路.9.1.1.1.1.1.1'
    AND
    source IN (SELECT id FROM nodes WHERE ST_Equals(geom, ST_SetSRID(st_point(120.0987188, 30.2888717),4326)))
    AND
    target IN (SELECT id FROM nodes WHERE ST_Equals(geom, ST_SetSRID(st_point(120.1000613, 30.2841765),4326)))
),

xixi AS(
    SELECT id
    FROM edges
    WHERE
    name = '西溪路 Xixi Road.22.1.1.1.1.1.1'
    AND
    source IN (SELECT id FROM nodes WHERE ST_Equals(geom, ST_SetSRID(st_point(120.1197977, 30.2719367),4326)))
    AND
    target IN (SELECT id FROM nodes WHERE ST_Equals(geom, ST_SetSRID(st_point(120.1240717, 30.2703345),4326)))
)

SELECT * 
FROM edges 
WHERE id NOT IN (SELECT * FROM jingzhou) AND id NOT IN (SELECT * FROM xixi);
"""

edges = %sql $dij_query

query = """ 
SELECT edges.id AS gid, edges.name AS name, edges.geom AS geom
FROM edges
WHERE edges.id IN (
    SELECT edge
    FROM pgr_dijkstra(
            'SELECT id, source, target, len AS cost FROM edges WHERE id <> %d AND id <> %d;',
            422,
            789,
            FALSE
        )
    );
""" % (edges[0][0],edges[1][0])

result = %sql $query

display([result], "map6", 13)

 * postgresql://postgres:***@localhost:5432/hw5
10671 rows affected.
 * postgresql://postgres:***@localhost:5432/hw5
27 rows affected.

#### 4.7 导航偏离下重新导航（4分）

根据4.3的查询结果，基于Dijkstra算法生成从紫金港校区到西溪校区的最短驾驶距离对应的路线，查询结果至少包含gid，name和geom属性。

In [9]:
query = """
SELECT edges.id AS gid, edges.name AS name, edges.geom AS geom
FROM edges
WHERE edges.id IN (
    SELECT edge
    FROM pgr_dijkstra(
            'SELECT id AS id, source AS source, target AS target, len AS cost FROM edges',
            422,
            1044,
            FALSE
        )
    );
"""
result = %sql $query

display([result], "map7", 13)

 * postgresql://postgres:***@localhost:5432/hw5
32 rows affected.

当系统发现用户偏离了原始的导航路线，根据当前情况，将自动重新计算最短驾驶距离对应的路线。这里涉及到<a href="https://mapcoding.cn/map-maching/" target="_blank">道路匹配</a>模块，即将用户匹配到某条道路上。

假设在实际行驶过程中，某车本应从"文一西路.24.1.1.1.1.1.1"转向"竞舟路.9.1.1.1.1.1.1"，却前行到"文一西路.25.1.1.1.1.1.1"（中间有绿化带，不能随意掉头返回到"竞舟路.9.1.1.1.1.1.1"）。根据车所在的位置和行驶方向，基于Dijkstra算法重新计算最短驾驶距离对应的路线。

    "文一西路.24.1.1.1.1.1.1", 起点为"POINT(120.0940602 30.2887916)", 终点为"POINT(120.0987188 30.2888717)"
    "竞舟路.9.1.1.1.1.1.1", 起点为"POINT(120.0987188 30.2888717)", 终点为"POINT(120.1000613 30.2841765)"   
    "文一西路.25.1.1.1.1.1.1", 起点为"POINT(120.0987188 30.2888717)", 终点为"POINT(120.102833 30.2890362)"

In [10]:
query = """
WITH
wenyi AS(
    SELECT id
    FROM edges
    WHERE
    name = '文一西路.25.1.1.1.1.1.1'
    AND
    source IN (SELECT id FROM nodes WHERE ST_Equals(geom, ST_SetSRID(st_point(120.0987188, 30.2888717),4326)))
    AND
    target IN (SELECT id FROM nodes WHERE ST_Equals(geom, ST_SetSRID(st_point(120.102833, 30.2890362),4326)))
)

SELECT id AS gid, name ,geom 
FROM edges,(
    SELECT edge 
    FROM pgr_dijkstra('select id, source, target,len as cost from edges', 
                  (SELECT target FROM edges WHERE id in (SELECT * FROM wenyi)), 
                  1044, 
                  FALSE)) AS path1
WHERE id = edge
UNION ALL
SELECT id AS gid, name ,geom 
FROM edges WHERE id IN (SELECT * FROM wenyi);
"""
result = %sql $query

display([result], "map8", 15)

 * postgresql://postgres:***@localhost:5432/hw5
21 rows affected.

#### 4.8 红绿灯最少的路径（4分）

假设每个节点都有红绿灯，根据4.3的查询结果，查询从紫金港校区到西溪校区的经过红绿灯最少的路线，查询结果至少包含gid，name和geom属性。该路线忽略道路长度，仅考虑路线经过的红绿灯数目，不能修改杭州道路网络。

In [11]:
query = """
SELECT id AS gid, name ,geom 
FROM edges,
    (SELECT edge 
    FROM pgr_dijkstra('SELECT id, source, target, 1 AS cost FROM edges', 
                  422, 
                  1044, 
                  FALSE)) AS path 
WHERE id = edge;
"""
result = %sql $query

display([result], "map9", 13)

 * postgresql://postgres:***@localhost:5432/hw5
28 rows affected.

进一步要求经过红绿灯最少的路线长度不能超过最短路径长度的1.5倍，查询结果至少包含gid，name和geom属性，不能修改杭州道路网络。

In [39]:
query = """
WITH RECURSIVE
    path_list(id, length, cost, path, line_list, is_passed) AS(
        SELECT id, CAST(0 as float) AS length, 0 AS cost, array[id], array[]::integer[], false
        FROM nodes
        WHERE id = 422
        UNION ALL
        SELECT DISTINCT target AS id, length + edges.len AS length, cost + 1 AS cost, path || target, line_list || edges.id, target = any(path)
        FROM path_list, edges
        WHERE edges.source = path_list.id AND not path_list.is_passed AND length < 1.5 * (SELECT max(agg_cost) FROM pgr_dijkstra('SELECT id, source, target, len AS cost FROM edges', 422, 1044, FALSE)AS path) 
    )
SELECT DISTINCT edges.id AS gid, edges.name AS name, edges.geom AS geom
FROM edges, 
    (SELECT *
    FROM path_list
    WHERE id = (SELECT id FROM nodes WHERE id = 1044)
    ORDER BY cost ASC
    LIMIT 1) AS path_list
WHERE edges.id = any(path_list.line_list);
"""
result = %sql $query

display([result], "map10", 13)

 * postgresql://postgres:***@localhost:5432/hw5
(psycopg2.errors.DiskFull) could not write to file "base/pgsql_tmp/pgsql_tmp19778.31451": 设备上没有空间

[SQL: WITH RECURSIVE path_list(id, length, cost, path, line_list, is_passed) AS( SELECT id, CAST(0 as float) AS length, 0 AS cost, array[id], array[]::integer[], false FROM nodes WHERE id = 422 UNION ALL SELECT DISTINCT target AS id, length + edges.len AS length, cost + 1 AS cost, path || target, line_list || edges.id, target = any(path) FROM path_list, edges WHERE edges.source = path_list.id AND not path_list.is_passed AND length < 1.5 * (SELECT max(agg_cost) FROM pgr_dijkstra('SELECT id, source, target, len AS cost FROM edges', 422, 1044, FALSE)AS path) ) SELECT DISTINCT edges.id AS gid, edges.name AS name, edges.geom AS geom FROM edges, (SELECT * FROM path_list WHERE id = (SELECT id FROM nodes WHERE id = 1044) ORDER BY cost ASC LIMIT 1) AS path_list WHERE edges.id = any(path_list.line_list);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
'NoneType' object is not subscriptable

## 5. 视图与触发器（8分）

track关系可以用于分析道路拥堵，即道路上车辆数目。所涉及的数据包括杭州道路数据edges(id, name, source, target, geom, len)和车辆位置数据track(time, position, userName, carID)。

In [51]:
%%sql
drop table if exists track cascade;

create table track(
    time timestamp default CURRENT_TIMESTAMP,
    position geometry(POINT, 4326),
    userName text default SESSION_USER,
    carID text
);

insert into track values('2022-11-25 10:20:08', ST_GeomFromText('point(120.104686575 30.283505885)',4326), 'Jack' , '101');
insert into track values('2022-11-25 10:20:12', ST_GeomFromText('point(120.10475310 30.28328588)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:13', ST_GeomFromText('point(120.104819625 30.283065875)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:15', ST_GeomFromText('point(120.10488615 30.28284587)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:18', ST_GeomFromText('point(120.104952675 30.282625865)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:23', ST_GeomFromText('point(120.104819625 30.283065875)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:25', ST_GeomFromText('point(120.104979285 30.282537863)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:28', ST_GeomFromText('point(120.1049992425 30.2824718615)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:31', ST_GeomFromText('point(120.10501920 30.28240586)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:33', ST_GeomFromText('point(120.105045810 30.282317858)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:35', ST_GeomFromText('point(120.105085725 30.282185855)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:39', ST_GeomFromText('point(120.105125640 30.282053852)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:43', ST_GeomFromText('point(120.105178860 30.281877848)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:47', ST_GeomFromText('point(120.105218775 30.281745845)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:52', ST_GeomFromText('point(120.105298605 30.281481839)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:59', ST_GeomFromText('point(120.105378435 30.281217833)',4326), 'Jack', '101');
insert into track values('2022-11-25 10:20:29', ST_GeomFromText('point(120.10475310 30.28328588)',4326), 'David', '102');
insert into track values('2022-11-25 10:20:34', ST_GeomFromText('point(120.1047810405 30.2831934779)',4326), 'David', '102');
insert into track values('2022-11-25 10:20:45', ST_GeomFromText('point(120.10475310 30.28328588)',4326), 'Tom', '103');
insert into track values('2022-11-25 10:20:53', ST_GeomFromText('point(120.1047770490 30.2832066782)',4326), 'Tom', '103');
insert into track values('2022-11-25 10:20:31', ST_GeomFromText('point(120.103880996283 30.2860733641809)',4326), 'Sally', '104');
insert into track values('2022-11-25 10:20:35', ST_GeomFromText('point(120.1039895370264 30.28572229134472)',4326), 'Sally', '104');

 * postgresql://postgres:***@localhost:5432/hw5
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

5.1 首先创建视图CurrentTrack(carID, position, roadID)，表示每辆车**当前**所在位置及该位置所在的道路，即距离所在位置最近的道路。（2分）

In [52]:
%%sql
drop view if exists currenttrack;
create view CurrentTrack
    as
    (
        SELECT DISTINCT A.carID AS carID, A.position AS position, edges.id AS roadID 
        FROM (
            SELECT track.carID, track.position, min(ST_DistanceSphere(position,edges.geom)) AS distance
            FROM (
                SELECT carID, max(time) AS time
                FROM track
                GROUP BY carID
            ) AS B INNER JOIN track ON track.time = B.time AND track.carID = B.carID , 
                edges
            GROUP BY track.carID, track.position
        )AS A, edges
        WHERE A.distance = ST_DistanceSphere(A.position,edges.geom)
    )

 * postgresql://postgres:***@localhost:5432/hw5
Done.
Done.

[]

5.2 基于CurrentTrack视图，构造SQL语句查询道路上车数目，查询返回道路编号和道路上车的数目，按车的数目降序排列。（2分）

In [45]:
%%sql
SELECT roadID, count(*) AS count
FROM CurrentTrack
GROUP BY roadID
ORDER BY count(*) DESC

 * postgresql://postgres:***@localhost:5432/hw5
2 rows affected.

[(68364, 3), (68368, 1)]

5.3 根据**SQL**的视图可更新标准，该视图是否为可更新视图，请说明理由。（1分）

不是可更新视图，使用了GROUP BY对表进行了聚合

5.4 根据**PostgreSQL数据库**的视图可更新标准，该视图是否为可更新视图，请说明理由。（1分）

不是可更新视图，在顶层包含了DISTINCT

5.5 为该视图创建触发器实现数据插入，roadID无需插入。（2分）

In [53]:
%%sql
CREATE OR REPLACE FUNCTION auditlogfunc() RETURNS TRIGGER AS $example_table$  
    BEGIN  
        Insert INTO track(carID, time, position, username)
        SELECT distinct new.carID, CURRENT_TIMESTAMP(0), new.position, track.username
        FROM track
        WHERE new.carID = track.carID;
        RETURN NEW;   
    END;
$example_table$ LANGUAGE plpgsql;
Create Trigger Trigger1 
INSTEAD OF Insert On CurrentTrack
For Each Row
EXECUTE PROCEDURE auditlogfunc();

 * postgresql://postgres:***@localhost:5432/hw5
Done.
Done.

[]

In [54]:
%sql insert into CurrentTrack(carID, position) values('102', ST_GeomFromText('Point(120.10475310 30.28328588)', 4326));

 * postgresql://postgres:***@localhost:5432/hw5
1 rows affected.

[]

In [55]:
%sql select time, ST_AsText(position), username from track where carID = '102' order by time desc

 * postgresql://postgres:***@localhost:5432/hw5
3 rows affected.

[(datetime.datetime(2022, 12, 12, 10, 39, 39), 'POINT(120.1047531 30.28328588)', 'David'),
 (datetime.datetime(2022, 11, 25, 10, 20, 34), 'POINT(120.1047810405 30.2831934779)', 'David'),
 (datetime.datetime(2022, 11, 25, 10, 20, 29), 'POINT(120.1047531 30.28328588)', 'David')]

### 作业感想（6分）

这是地理空间数据库课程的最后一个个人作业，填写本次作业感想有加分哦<br/>

课程内容可以分成六大主题：关系数据库查询(RA+SQL), 几何对象模型与查询(Geometry+方法+PostGIS)，空间数据库设计(E/R+规范化), 物理模型(Curve+Spatial Index+Query Plan), 空间网络模型与查询(With Recursive+pgRouting), 数据库安全(View+Trigger+Transactions)。

对课程内容有什么建议，比如(1) 哪些主题或内容较为简单或其他课程已有介绍，可以少讲或不讲，(2) 哪些主题或内容较难，不易理解，需要详细介绍或不讲在后续课程中学习（如空间索引实现、PostgreSQL服务器编程、pgRouting基于几何对象模型的网络模型构建等），(3) 希望增加哪些数据库相关的内容，这些内容其他课程没有介绍、或比较重要、或是未来发展趋势，(4) 其他关于课程内容的建议

（1）我认为课程设计合理，绝大多数内容都是为了全面学习和应用数据库所必须的
（2）我曾经学过计算机学院的数据库系统课程，我认为SQL介绍和学习的课程篇幅过少，很多同学在写作业的时候无从下手，我觉得应该增长这一课时的时间，另外查询原理和关系数据库索引的部分讲解可能过于简略，很多同学不理解b+树的结构
（3）希望增加数据库错误和崩溃处理，特别是系统日志保存和数据库恢复算法的介绍
（4）可能可以在先修了数据库系统后再学习此课程，此课程就着重讲解空间数据库的部分

课程作业包括5次学在浙大测试、5次个人作业（对应前五个主题）、1次课堂测试和1次小组作业，占课程成绩的50%。

对课程作业有什么建议，比如(1) 作业组织方式，PostgreSQL和Jupyter Notebook等工具使用等，(2) 哪些作业的题目太简单或太难或与其他课程重复，是否能够帮助你理解课程内容，了解数据库的应用和价值，(3) 作业的难易程度，平均每次作业完成需要多少时间，希望提供哪些帮助，(4) 作业和PTA上的练习题和附加题是否有必要，(5) 其他关于课程作业的建议

（1）我认为使用python和PostgreSQL是最好的作业组织方式
（2）作业1，2某些题目过难，对于初学SQL的同学不友好
（3）我的平均完成时间为8到10小时不等，希望提供更多有关SQL查询答案的提示，对于有歧义的题目可以重新描述
（4）我认为作为bouns加分的形式很不错，但诸如SQL挑战赛的题目本身价值不大，实际运用中不经常那么去使用SQL
（5）强化同学SQL能力可以考虑增加数据库应用软件开发的作业

对课程的其他建议，比如课程提供的课件、练习、互动答题和阅读材料，有无必要或如何发挥更大的作用，课堂上如何提高大家积极性等

（1）课件不要中英混杂，可考虑纯英文或者纯中文，提供ppt版本的课件便于做笔记
（2）部分较为重要的阅读材料可在课堂上播放和拓展
（3）课堂上提升大家积极性，可通过课堂上更多提问和邀请同学实际操作数据库来促进
（4）作业6可能可以改成和前几次作业一样的形式来降低难度？或者减免一两次作业实现类似计院miniSQL大作业的程序？