# PostGIS in Action

In [ ]:
%load_ext sql

### 连接你所创建的数据库
通过pgAdmin 4在PostgreSQL数据库中创建Ex4数据库，增加postgis扩展，并连接该数据库

In [ ]:
%%sql postgresql://postgres:postgres@localhost:5432/Ex4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'utf-8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

所有SQL语句和相关数据都可以从<a href ='http://www.postgis.us/chapters_edition_3' target="_blank">PostGIS in Action</a>网站下载。

### 1 Nearest neighbor searches

### 1.1 Which places are within X distance?

Airports within 100km of a location

In [ ]:
%%sql
SELECT name, iso_country, iso_region
FROM ch10.airports
WHERE ST_DWithin(geog, ST_Point(-75.0664, 40.2003)::geography, 100000);

### 1.2 Using ST_DWithin and ST_Distance for N closest results

Five closest airports to (-75.0664, 40.2003)

In [ ]:
%%sql
SELECT ident, name
FROM 
    ch10.airports 
    CROSS JOIN 
    (SELECT ST_Point(-75.0664, 40.2003)::geography AS ref_geog) As r
WHERE ST_DWithin(geog, ref_geog, 100000)
ORDER BY ST_Distance(geog, ref_geog)
LIMIT 5;

### 1.3 Using ST_DWithin and DISTINCT ON to find closest locations

Closest navaid to each airport

In [ ]:
%%sql
SELECT DISTINCT ON (a.ident) 
    a.ident, a.name As airport, n.name As closest_navaid, (ST_Distance(a.geog,n.geog)/1000)::integer As dist_km
FROM ch10.airports As a LEFT JOIN ch10.navaids As n 
ON ST_DWithin(a.geog, n.geog,100000)
ORDER BY a.ident, dist_km;

### 1.4 Intersects with tolerance

In [ ]:
%%sql
SELECT ST_DWithin(
    ST_GeomFromText(
        'LINESTRING(1 2, 3 4)'
    ),
    ST_Point(3.00001, 4.000001),
    0.0001
);

### 1.5 Finding N closest places using KNN distance bounding-box operators

Closest ten centroids of geometry bounding boxes

In [ ]:
%%sql
SELECT 
    pid, 
    geom 
    <-> 
    ST_Transform(ST_SetSRID(ST_Point(-71.09368, 42.35857),4326),26986)

FROM ch10.land
WHERE land_type = 'apartment'
ORDER BY 
    geom 
    <-> 
    ST_Transform(ST_SetSRID(ST_Point(-71.09368, 42.35857),4326),26986)
LIMIT 10;

Closest ten; one side is a unique value from a table

In [ ]:
%%sql
SELECT pid
FROM ch10.land
WHERE land_type = 'apartment'
ORDER BY geom <-> (SELECT geom FROM ch10.land WHERE pid = '58-162')
LIMIT 10;

Find closest shopping to each parcel using correlated subquery

In [ ]:
%%sql
SELECT
    l.pid, (
        SELECT s.pid
        FROM ch10.land As s
        WHERE s.land_type = 'shopping'
        ORDER BY s.geom <-> l.geom LIMIT 1
    ) As closest_shopping
FROM ch10.land AS l;

Find three closest shopping malls using a LATERAL join

In [ ]:
%%sql
SELECT l.pid, r.pid As n_closest_shopping
FROM
    ch10.land As l
    CROSS JOIN LATERAL
    (
        SELECT s.pid
        FROM ch10.land AS s
        WHERE s.land_type = 'shopping'
        ORDER BY s.geom <-> l.geom
        LIMIT 3
    ) As r;

### 1.6 Combining KNN distance-box operators with ST_Distance

Using KNN to narrow choises and then applying ST_Distance

In [ ]:
%%sql
WITH x AS ( 
    SELECT 
        pid, 
        geom, 
        (SELECT geom FROM ch10.land WHERE pid = '58-162') As ref_geom
    FROM ch10.land
    WHERE land_type = 'apartment'
    ORDER BY geom <#> 
        (SELECT geom FROM ch10.land AS l WHERE pid = '58-162')
    LIMIT 100
  )
SELECT 
    pid, 
    RANK() OVER(ORDER BY ST_Distance(geom, ref_geom)) As act_r, 
    ST_Distance(geom, ref_geom)::numeric(10,3) As act_dist,
    RANK() OVER(ORDER BY geom <#> ref_geom) As bb_r, 
    (geom <#> ref_geom)::numeric(10,3) As bb_dist,
    RANK() OVER(ORDER BY geom <-> ref_geom) As bbc_r, 
   (geom <-> ref_geom)::numeric(10,3) As bbc_dist
FROM X
ORDER BY act_r  
LIMIT 5;

### 2 Geotagging

* Region tagging: This is a process where you tag a geometry, such as a point of interest, wiht the name of a region it's in, such as a state.
* Linear referencing: This is another kind of tagging, particular to linestrings, whereby you refer to a point of interest by its closest point along a linestring. The tag can be the closest point on the linestring, or a measure such as a mile marker or fractional percent measured from the start of the linestring to the point on the linestring closest to your point of interest.

### 2.1 Tagging data to a specific region

In [ ]:
%%sql
ALTER TABLE ch10.airports ADD COLUMN tz varchar(30);
UPDATE ch10.airports
SET tz = t.tzid
FROM ch10.tz_world As t
WHERE ST_Intersects(ch10.airports.geog, t.geog);

SELECT ident, name, CURRENT_TIMESTAMP AT TIME ZONE tz AS ts_at_airport
FROM ch10.airports
WHERE ident IN('KBOS','KSAN','LIRF','OMDB','ZLXY');

### 2.2 Linear referencing: snapping points to the closest linesring

Finding the closest point on a road to a parcel of land

In [ ]:
%%sql
SELECT DISTINCT ON (p.pid)
    p.addr_num || ' ' || full_str AS parcel,
    r.road_name AS road,
    ST_ClosestPoint(p.geom,r.geom) As snapped_point
FROM ch10.land AS p INNER JOIN ch10.road AS r
ON ST_DWithin(p.geom,r.geom,20.0)
ORDER BY p.pid, ST_Distance(p.geom,r.geom);

### 3 Grid generation

In [ ]:
%%sql
SELECT 
    x || ' ' || y As grid_x_y, 
    CAST(
        ST_MakeBox2d(
            ST_Point(-1.5 + x, 0 + y), 
            ST_Point(-1.5 + x + 2, 0 + y + 2)
        ) As geometry
    ) As geom2
FROM generate_series(0,3,2) As x CROSS JOIN generate_series(0,6,2) As y;

应用：Clipping one polygon using another

In [ ]:
%%sql
SELECT 
    CAST(x AS text) || ' ' || CAST(y As text) As grid_xy,  
    ST_AsText(ST_Intersection(g1.geom1, g2.geom2)) As intersect_geom
FROM (
    SELECT 
        ST_GeomFromText(
            'POLYGON((
                2 4.5,3 2.6,3 1.8,2 0,
                -1.5 2.2,0.056 3.222,
                -1.5 4.2,2 6.5,2 4.5
            ))'
        ) As geom1
    ) As g1
    INNER JOIN (
    SELECT x, y, ST_MakeEnvelope(-1.5+x,0+y,-1.5+x+2,0+y+2) As geom2
    FROM 
        generate_series(0,3,2) As x 
        CROSS JOIN 
        generate_series(0,6,2) As y
    ) As g2 
ON ST_Intersects(g1.geom1,g2.geom2);

应用：Creating a grid and slicing table geometries with the grid

Dividing the United States into rectangular blocks
<img src = './Figure 1.png' width = 80% height = 30% >

In [ ]:
%%sql
WITH 
    usext AS (
        SELECT 
            ST_SetSRID(CAST(ST_Extent(the_geom) AS geometry),
            2163) AS geom_ext, 60 AS x_gridcnt, 40 AS y_gridcnt
        FROM us.states
    ),
    grid_dim AS (
        SELECT 
            (
                ST_XMax(geom_ext)-ST_XMin(geom_ext)
                ) / x_gridcnt AS g_width, 
            ST_XMin(geom_ext) AS xmin, ST_xmax(geom_ext) AS xmax,
            (
                ST_YMax(geom_ext)-ST_YMin(geom_ext)
                ) / y_gridcnt AS g_height,     
            ST_YMin(geom_ext) AS ymin, ST_YMax(geom_ext) AS ymax
        FROM usext                                    
    ), 
    grid AS (                    
        SELECT 
            x, y, 
            ST_MakeEnvelope(  
                xmin + (x - 1) * g_width, ymin + (y - 1) * g_height,  
                xmin + x * g_width, ymin + y * g_height,
                2163
            ) AS grid_geom 
        FROM 
            (SELECT generate_series(1,x_gridcnt) FROM usext) AS x(x)    
            CROSS JOIN 
            (SELECT generate_series(1,y_gridcnt) FROM usext) AS y(y) 
            CROSS JOIN 
            grid_dim                                                 
    )   
SELECT 
    g.x, g.y, state, state_fips, 
    ST_Intersection(s.the_geom, grid_geom) AS geom
INTO ch11.grid_throwaway                    
FROM us.states AS s INNER JOIN grid AS g 
ON ST_Intersects(s.the_geom,g.grid_geom); 

CREATE INDEX idx_us_grid_throwawa_geom 
ON ch11.grid_throwaway 
USING gist(geom);

应用：Creating a single line cut that best bisects into equal halves

Bisecting Idaho
<img src = './Figure 2.png'  width = "200" height = "200">

In [ ]:
%%sql
WITH RECURSIVE
x (the_geom,env) AS (
    SELECT
        the_geom, ST_Envelope(the_geom) AS env, ST_Area(the_geom)/2 AS targ_area,
        1000 AS nit
    FROM us.states
    WHERE state = 'Idaho'
),
T (n,overlap) AS (
    VALUES (CAST(0 AS float), CAST(0 AS float))
    UNION ALL
    SELECT
        n+nit,
        ST_Area(ST_Intersection(the_geom,ST_Translate(env,n+nit,0)))
    FROM T CROSS JOIN x
    WHERE
        ST_Area(ST_Intersection(the_geom,ST_Translate(env,n+nit,0)))
        >
        x.targ_area
),
bi(n) AS (SELECT n FROM T ORDER BY n DESC LIMIT 1)
SELECT
    bi.n,
    ST_Difference(the_geom,ST_Translate(x.env, n,0)) AS geom_part1,
    ST_Intersection(the_geom,ST_Translate(x.env, n,0)) AS geom_part2
FROM bi CROSS JOIN x;

### 4 空间函数与触发器案例

### 4.1 Creating Equal Areas by Sharding

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION 
    slicegeometry(
        ageom geometry, numsections integer, 
        OUT bucket integer, OUT geom geometry)
RETURNS SETOF record 
AS $$

WITH RECURSIVE
    
ref (geom,the_box,targ_area,x_mov,y_mov,  -- 1. efine constants
    x_length,y_length,xmin,ymin) AS ( 
    SELECT 
        geom, 
        ST_MakeEnvelope(
            xmin, ymin, 
            xmin + CAST(x_length/ngrid_xy AS integer), 
            ymin + CAST(y_length/ngrid_xy AS integer), 
            ST_SRID(s.geom)
        ) AS the_box, 
        ST_Area(geom)/$2 AS targ_area, 
        CAST(x_length/ngrid_xy AS integer) AS x_mov,  
        CAST(y_length/ngrid_xy AS integer) y_mov, 
        s.x_length, s.y_length, xmin, ymin        
    FROM (
        SELECT 
            $1 AS geom, ST_XMin($1) AS xmin, ST_YMin($1) AS ymin, 
            ST_XMax($1) - ST_XMin($1) AS x_length, 
            ST_YMax($1) - ST_YMin($1) AS y_length, 
            15*$2 AS ngrid_xy) AS s                   
    ),                                                         

X(x) AS ( -- 2. Start position of squares
    VALUES (CAST(0 AS float))
    UNION ALL                                         
    SELECT x + ref.x_mov FROM X CROSS JOIN ref WHERE x <  ref.x_length
),              
       
       
Y(y) AS ( 
    VALUES (CAST(0 AS float))       
    UNION ALL         
    SELECT y + ref.y_mov FROM Y CROSS JOIN ref WHERE y < ref.y_length
),        
   
diced AS (  -- 3. cut into shards
    SELECT ROW_NUMBER() OVER(ORDER BY x,y) AS row_num, g.x, g.y, g.geom
    FROM (
        SELECT 
            x, y, 
            ST_Intersection(ref.geom,
                ST_Translate(ref.the_box,x,y)) AS geom
        FROM x CROSS JOIN y CROSS JOIN ref        
        WHERE ST_Intersects(ref.geom, ST_Translate(ref.the_box,x,y))
    ) AS g                                    
),                                                    

T (bucket, row_num, geom, total_area, targ_area, 
 remaining_area) AS ( -- 4. bucket the shards
      SELECT 
        1 AS bucket, row_num, diced.geom, 
        ST_Area(diced.geom) AS total_area,  
        ref.targ_area, 
        ST_Area(ref.geom) - ST_Area(diced.geom) AS remaining_area
    FROM diced CROSS JOIN ref 
    WHERE diced.row_num = 1            
    UNION ALL    
    SELECT 
        CASE 
            WHEN 
                T2.total_area + ST_Area(diced.geom) < T2.targ_area 
                OR 
                T2.remaining_area < T2.targ_area/4 
            THEN 
                T2.bucket 
            ELSE T2.bucket + 1 END AS bucket, 
        diced.row_num, 
        diced.geom,                            
        CASE 
            WHEN T2.total_area + ST_Area(diced.geom) < T2.targ_area 
            THEN T2.total_area + ST_Area(diced.geom) 
            ELSE ST_Area(diced.geom) 
        END AS total_area, 
        T2.targ_area, 
        T2.remaining_area - ST_Area(diced.geom) AS remaining_area
    FROM 
        diced INNER JOIN 
        (SELECT * FROM T ORDER BY row_num DESC LIMIT 1) AS T2
    ON diced.row_num = T2.row_num + 1 
)
    
SELECT bucket, ST_Union(geom) AS geom  -- 5. union shards by bucket
    FROM T GROUP BY T.bucket, T.targ_area  

$$
LANGUAGE 'sql' IMMUTABLE;

### 4.2 Cut linestrings and multilinestrings at nearest point junctions

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION cutlineatpoints(
    param_mlgeom geometry, 
    param_mpgeom geometry, 
    param_tol double precision
)
RETURNS geometry AS
$$
DECLARE
    var_resultgeom geometry;
    var_sline geometry;
    var_eline geometry;
    var_perc_line double precision;
    var_refgeom geometry;
    var_pset geometry[] :=  -- 1. Convert geometries to array
        ARRAY(SELECT geom FROM ST_Dump(param_mpgeom));             
    var_lset geometry[] := 
        ARRAY(SELECT geom FROM ST_Dump(param_mlgeom));  
BEGIN

FOR i in 1 .. array_upper(var_pset,1) LOOP -- 2. Loop through each point
    FOR j in 1 .. array_upper(var_lset,1) LOOP -- 3. Loop throught each point
        IF 
            ST_DWithin(var_lset[j],var_pset[i],param_tol) AND -- If point within tolerance of line, make a cut
            NOT ST_Intersects(ST_Boundary(var_lset[j]),var_pset[i])
        THEN                                 -- Recurse if multilinestring
            IF ST_NumGeometries(ST_Multi(var_lset[j])) = 1 THEN 
                var_perc_line := 
                ST_Line_Locate_Point(var_lset[j],var_pset[i]);
                IF var_perc_line BETWEEN 0.0001 and 0.9999 THEN
                    var_sline := 
                        ST_Line_Substring(var_lset[j],0,var_perc_line);
                    var_eline := 
                        ST_Line_Substring(var_lset[j],var_perc_line,1);
                    var_eline := 
                        ST_SetPoint(var_eline,0,ST_EndPoint(var_sline));
                    var_lset[j] := ST_Collect(var_sline,var_eline);
                END IF;
            ELSE
                var_lset[j] :=   -- Convert geometries to array
                    cutlineatpoints(var_lset[j],var_pset[i]);
            END IF;
        END IF;
    END LOOP;
END LOOP;
  
RETURN ST_Union(var_lset);

END;
$$
LANGUAGE 'plpgsql' IMMUTABLE STRICT;

### 4.3 Creating an ST_SimplifyPreserveTopoloty wrapper for geography

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION 
    SimplifyPreserveTopology(geography, double precision)
RETURNS geography AS
$$
SELECT 
    geography(
        ST_Transform(
            ST_SimplifyPreserveTopology(
                ST_Transform(geometry($1),_ST_BestSRID($1,$1)), -- <co id="co_code_ugeog_simplifypreservetopology_1"/> 
                $2
            ),
        4326)
    )
$$
LANGUAGE sql IMMUTABLE STRICT
COST 300;

### 4.4 PL/pgSQL Before Insert trigger function to redirect inserts

In [ ]:
%%sql
drop table if exists pairs;
drop table if exists paris_rejects;

CREATE TABLE paris (
    gid SERIAL PRIMARY KEY, 
    osm_id bigint, 
    ar_num integer, 
    feature_name varchar(200), 
    feature_type varchar(50), 
    geom geometry(geometry, 32631)
);

CREATE TABLE paris_rejects (
    gid integer NOT NULL PRIMARY KEY,
    osm_id integer,
    ar_num integer,
    feature_name varchar(200),
    feature_type varchar(50),
    geom geometry, tags hstore
);

CREATE OR REPLACE FUNCTION trigger_paris_insert() 
RETURNS trigger AS
$$
DECLARE 
    var_geomtype text;
BEGIN
    var_geomtype := geometrytype(NEW.geom); -- 1. Use temporary variables
    IF var_geomtype IN ('MULTIPOLYGON', 'POLYGON') THEN
        NEW.geom := ST_Multi(NEW.geom);
        INSERT INTO ch14.paris_polygons(
            gid,osm_id,ar_num,feature_name,feature_type,geom,tags
        )
        SELECT gid,osm_id,ar_num,feature_name,feature_type,geom,tags
        FROM (SELECT NEW.*) As foo; -- 2. NEW is alias for table that contains new record
    ELSIF var_geomtype = 'POINT' THEN
        INSERT INTO ch14.paris_points (
            gid,osm_id,ar_num,feature_name,feature_type,geom,tags
        )
        SELECT gid,osm_id,ar_num,feature_name,feature_type,geom,tags
        FROM (SELECT NEW.*) As foo;
    ELSIF var_geomtype = 'LINESTRING' THEN
        INSERT INTO ch14.paris_linestrings (
            gid,osm_id,ar_num,feature_name,feature_type,geom,tags
        )
        SELECT gid,osm_id,ar_num,feature_name,feature_type,geom,tags
        FROM (SELECT NEW.*) As foo;
    ELSE
        INSERT INTO ch14.paris_rejects (
            gid,osm_id,ar_num,feature_name,feature_type,geom,tags
        )
        SELECT gid,osm_id,ar_num,feature_name,feature_type,geom,tags 
        FROM (SELECT NEW.*) As foo; -- 3. Nonstandard geometry types go into rejects table                        
    END IF;
    RETURN NULL; -- 4. Cancel original insert
END;
$$
LANGUAGE 'plpgsql' VOLATILE;


CREATE TRIGGER trigger1_paris_insert BEFORE INSERT
ON paris FOR EACH ROW
EXECUTE PROCEDURE trigger_paris_insert();

### 4.5 Trigger that dynamically creates tables as needed

In [ ]:
%%sql 
drop table if exists pairs_points;
CREATE TABLE paris_points(
    gid SERIAL PRIMARY KEY, 
    osm_id bigint,
    ar_num integer, 
    feature_name varchar(200),
    feature_type varchar(50), 
    geom geometry(Point, 32631)
); 

CREATE OR REPLACE FUNCTION trigger_paris_child_insert() 
RETURNS TRIGGER AS 
$$
DECLARE
    var_sql text;
    var_tbl text;
BEGIN
    var_tbl :=  
        TG_TABLE_NAME || '_ar' || lpad(NEW.ar_num::text,2,'0'); -- 1. Assign destination table name to variable
    IF NOT EXISTS (
        SELECT * 
        FROM information_schema.tables -- 2. Check if destination table exists
        WHERE table_schema = TG_TABLE_SCHEMA AND table_name = var_tbl) 
    THEN        
        var_sql := 
            'CREATE TABLE ' || TG_TABLE_SCHEMA || '.' || var_tbl || 
            '(CONSTRAINT pk_' || var_tbl || 
            ' PRIMARY KEY(gid)) INHERITS (' || TG_TABLE_SCHEMA || 
            '.' || TG_TABLE_NAME  || '); CREATE INDEX idx_' || 
            var_tbl || '_geom ON ' || TG_TABLE_SCHEMA || '.' || 
            var_tbl || ' USING gist(geom); ALTER TABLE ' || 
            TG_TABLE_SCHEMA || '.' || var_tbl || 
            ' ADD CONSTRAINT chk_ar_num CHECK (ar_num = ' || 
            NEW.ar_num::text || ');';
        EXECUTE var_sql; -- 3. Create destination table if absent
    END IF;
    var_sql := 
        'INSERT INTO ' || TG_TABLE_SCHEMA || '.' || var_tbl || 
        '(gid,osm_id,ar_num,feature_name,feature_type,geom,tags) ' || 
        'VALUES($1,$2,$3,$4,$5,$6,$7)'; -- 4. Prepare and execute insert SQL
    EXECUTE var_sql 
    USING 
        NEW.gid,NEW.osm_id,NEW.ar_num,NEW.feature_name,
        NEW.feature_type,NEW.geom,NEW.tags;                       
    RETURN NULL; -- Cancel original insert
END;
$$ language plpgsql;


CREATE TRIGGER trig01_paris_child_insert BEFORE INSERT
ON paris_points FOR EACH ROW
EXECUTE PROCEDURE trigger_paris_child_insert();

### 4.6 Create a PL/pgSQL stored function to output GeoJSON

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION get_features(
    param_geom json,
    param_table text,
    param_props text,
    param_limit integer DEFAULT 10
) 
RETURNS json AS 
$$
DECLARE 
    var_sql text; var_result json; var_srid integer; var_geo geometry; 
    var_table text; var_cols text; var_input_srid integer; 
    var_geom_col text;
BEGIN
    SELECT 
        f_geometry_column, 
        quote_ident(f_table_schema) || '.' || quote_ident(f_table_name) 
    FROM geometry_columns
    INTO var_geom_col, var_table -- 1. Verify table is a geometry table
    WHERE f_table_schema || '.' || f_table_name = param_table
    LIMIT 1;  
 
    IF var_geom_col IS NULL THEN
        RAISE EXCEPTION 'No such geometry table as %', param_table;
    END IF;
    var_geo := ST_GeomFromGeoJSON($1::text); -- 2. Convert location to geometry
    var_input_srid := ST_SRID(var_geo); -- 3. Get SRID of requested location
    If var_input_srid < 1 THEN 
        var_input_srid = 4326; 
        var_geo := ST_SetSRID( 
        ST_GeomFromGeoJSON($1::text),var_input_srid); 
    END IF; 
  
    var_sql := 'SELECT ST_SRID(geom) FROM ' || var_table || ' LIMIT 1'; -- 4. Get SRID of table

    EXECUTE var_sql INTO var_srid; -- <co id="co_code_get_features_4b"/>
  
    SELECT string_agg(quote_ident(trim(a)), ',') 
    INTO var_cols -- <co id="co_code_get_features_5a"/>
    FROM unnest(string_to_array(param_props, ',')) As a; -- 5.  Sanitize column names
     
    var_sql := 
        'SELECT row_to_json(fc) 
        FROM (
            SELECT 
                ''FeatureCollection'' As type, 
                array_to_json(array_agg(f)) As features
            FROM (
                SELECT 
                    ''Feature'' As type, 
                    ST_AsGeoJSON(ST_Transform(
                        lg.' || quote_ident(var_geom_col) || ', $4)
                    )::json As geometry,
                    row_to_json(
                        (SELECT l FROM (SELECT ' || var_cols || ') As l)
                    ) As properties 
                FROM ' || var_table || ' AA lg 
                WHERE ST_Intersects(lg.geom,ST_Transform($1,$2)) LIMIT $3
            ) As f
        ) As fc;'; -- 6. Build parameterized SQL

    EXECUTE var_sql INTO var_result 
    USING var_geo, var_srid, param_limit, var_input_srid; -- 7. Execute parameterized SQL using variables, output to var_result, and return
     
    RETURN var_result; 
END;
$$
LANGUAGE plpgsql;